{% extends "../graph-layout.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set graphPageId = "protected-characteristics" %}
{% set graphTitle = "Protected characteristics" %}
{% set pageTitle = applicationName + " – " + graphTitle %}

{% block content %}
  {{ super() }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "../../../partials/messages.njk" %}

      {% set errorSummary = formsWithErrors["incentive-levels-by-ethnicity"].errorSummary | default(formsWithErrors["incentive-levels-by-age"].errorSummary) | default(formsWithErrors["incentive-levels-by-religion"].errorSummary) | default(formsWithErrors["incentive-levels-by-disability"].errorSummary) %}
      {% if errorSummary %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorSummary
        }) }}
      {% endif %}

      <h1 class="govuk-heading-xl">
        {{ graphTitle }}
      </h1>

    </div>
  </div>

  <div class="govuk-grid-row">
    <section class="govuk-grid-column-two-thirds govuk-!-margin-bottom-9">

      {% set graphId = "incentive-levels-by-ethnicity" %}
      {% set report = prisonersByEthnicity %}
      {% include "./prisoners-by-ethnicity.njk" %}

    </section>
  </div>

  <div class="govuk-grid-row">
    <section class="govuk-grid-column-two-thirds govuk-!-margin-bottom-9">

      {% set graphId = "incentive-levels-by-age" %}
      {% set report = prisonersByAge %}
      {% include "./prisoners-by-age.njk" %}

    </section>
  </div>

  <div class="govuk-grid-row">
    <section class="govuk-grid-column-two-thirds govuk-!-margin-bottom-9">

      {% set graphId = "incentive-levels-by-religion" %}
      {% set report = prisonersByReligion %}
      {% include "./prisoners-by-religion.njk" %}

    </section>
  </div>

  <div class="govuk-grid-row">
    <section class="govuk-grid-column-two-thirds govuk-!-margin-bottom-9">

      {% set graphId = "incentive-levels-by-disability" %}
      {% set report = prisonersByDisability %}
      {% include "./prisoners-by-disability.njk" %}

    </section>
  </div>

  {% include "../../../partials/analytics/disclaimer.njk" %}
{% endblock %}
