{% extends "../../../partials/analytics/chartBase.njk" %}

{% block chart %}

{% set colourChoices = report.columns | chartPalette %}

<div class="govuk-!-margin-top-8">
  {#
  <a href="?" class="govuk-button govuk-button--secondary govuk-!-margin-right-6">Download chart</a>
  #}

  <div aria-hidden="true" class="app-chart-legend">
    {% for level in report.columns %}
      <span class="app-chart-legend__swatch {{ colourChoices[loop.index0] }}">&nbsp;</span>
      <span class="app-chart-legend__label">{{ level }}</span>
    {% endfor %}
  </div>
</div>

<table class="app-chart-table app-chart-table--bars" id="table-{{ graphId }}">
  <caption class="govuk-visually-hidden">
    {{ chartTitle }}
  </caption>

  <thead>
    <tr>
      <th scope="col">Sexual orientation</th>
      {% for level in report.columns %}
        <th scope="col">{{ level }} <span class="govuk-visually-hidden">level</span></th>
      {% endfor %}
      <th aria-hidden="true" scope="col"></th>
    </tr>
  </thead>

  <tbody>
    {% for row in report.rows %}
      {% set total = row.values | sum %}

      <tr>
        <td>
          <strong>
            {% if row.href %}
              <a href="{{ row.href }}">{{ row.label }}</a>
            {% else %}
              {{ row.label }}
            {% endif %}
          </strong>
          <br />
          {{ total | thousands }} <span class="govuk-visually-hidden">prisoners</span>
        </td>
        {% for level in report.columns %}
          <td>
            {{ row.values[loop.index0] | percentageOf(total) }}
            <br />
            {{ row.values[loop.index0] | thousands }} <span class="govuk-visually-hidden">prisoners on {{ level }} level</span>
          </td>
        {% endfor %}
        <td aria-hidden="true" class="app-chart-table__percentage-cell">
          <span class="app-chart-table__axis-midpoint"></span>
          {% for level in report.columns %}
            <div class="app-chart-table__percentage-cell-bar {{ colourChoices[loop.index0] }}" data-style-width="{{ row.values[loop.index0] | percentageOf(total, false) }}">&nbsp;<br />&nbsp;</div>
          {% endfor %}
        </td>
      </tr>

      {% if loop.first %}
        <tr aria-hidden="true">
          <td colspan="{{ (report.columns | length) + 1 }}"></td>
          <td class="app-chart-table__percentage-cell">
            <span class="app-chart-table__axis-midpoint"></span>
          </td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>

  <tfoot aria-hidden="true">
    <tr>
      <td colspan="{{ (report.columns | length) + 1 }}"></td>
      <td class="app-chart-table__axis-values">
        <span class="app-chart-table__axis-midpoint"></span>
        <span class="app-chart-table__axis-value app-chart-table__axis-value--min">0</span>
        <span class="app-chart-table__axis-value app-chart-table__axis-value--mid">50</span>
        <span class="app-chart-table__axis-value app-chart-table__axis-value--max">100</span>
      </td>
    </tr>
    <tr>
      <td colspan="{{ (report.columns | length) + 1 }}"></td>
      <td>Percentage</td>
    </tr>
  </tfoot>
</table>

{% endblock chart %}
