{% from "../../../components/dataSource.njk" import dataSource %}

<h2 class="govuk-heading-m">
  Percentage and number of prisoners on each incentive level by ethnicity
</h2>

{{ dataSource(prisonersByEthnicity.dataSource, prisonersByEthnicity.lastUpdated, {"classes": "govuk-!-margin-bottom-6"}) }}
