{% from "../../../components/dataSource.njk" import dataSource %}

<h2 class="govuk-heading-m">
  Percentage and number of prisoners on each incentive level by age group
</h2>

{{ dataSource(prisonersInAgeGroups.dataSource, prisonersInAgeGroups.lastUpdated, {"classes": "govuk-!-margin-bottom-6"}) }}
