{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

<div class='govuk-width-container'>
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Digital Prison Services",
        href: dpsHome
      },
      {
        text: "Manage incentives",
        href: "/select-another-location"
      }
    ]
  }) }}
</div>
