{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

<div class="govuk-width-container">
  {% if breadcrumbs %}
    {{ govukBreadcrumbs({
      items: breadcrumbs.items
    }) }}
  {% else %}
    {{ govukBreadcrumbs({
      items: [
        {text: "Digital Prison Services", href: dpsHome},
        {text: "Manage incentives"}
      ]
    }) }}
  {% endif %}
</div>
