{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block feedbackBanner %}
  {% if feedbackUrl %}
    <div class="govuk-width-container">
      {{
        govukPhaseBanner({
          classes: 'feedback-banner',
          tag: {
            text: "give feedback"
          },
          html: 'This is a new service – <a class="govuk-link" target="_blank" href="' + feedbackUrl + '"> help us to improve it</a> (opens in a new tab)'
        })
      }}
    </div>
  {% endif %}
{% endblock feedbackBanner %}
