{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% macro feedbackMessage() %}
  <a target="_blank" href="{{ feedbackUrl }}" aria-label="This is a new service, help us to improve it (link opens in a new tab)">
    This is a new service – help us to improve it
  </a>
  <span aria-hidden="true" class="govuk-!-padding-left-1">(opens in a new tab)</span>
{% endmacro %}

{% block feedbackBanner %}
  {% if feedbackUrl %}
    <div class="govuk-width-container">
      {{ govukPhaseBanner({
        classes: "app-feedback-banner",
        tag: {
          classes: "app-feedback-banner__tag",
          text: "give feedback"
        },
        html: feedbackMessage()
      }) }}
    </div>
  {% endif %}
{% endblock feedbackBanner %}
