{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% macro feedbackMessage() %}
  This is a new service – <a class="govuk-link" target="_blank" href="{{ feedbackUrl }}"> help us to improve it</a> (opens in a new tab)
{% endmacro %}

{% block feedbackBanner %}
  {% if feedbackUrl %}
    <div class="govuk-width-container">
      {{ govukPhaseBanner({
        classes: 'app-feedback-banner',
        tag: {
          classes: 'app-feedback-banner__tag',
          text: "give feedback"
        },
        html: feedbackMessage()
      }) }}
    </div>
  {% endif %}
{% endblock feedbackBanner %}
