{% from "govuk/components/tag/macro.njk" import govukTag %}

<header class="hmpps-header" role="banner">
  <div class="hmpps-header__container">
    <div class="hmpps-header__title">
      <a class="hmpps-header__link hmpps-header__link--no-underline hmpps-header__title__service-name" href="/">
        <picture class="hmpps-header__logo">
          <source type="image/svg+xml" srcset="/assets/images/moj-logotype-crest-2024.svg" />
          <img src="/assets/images/moj-logotype-crest-2024.png" alt="HMPPS crest" />
        </picture>
        Digital Prison Services
      </a>

      {% if environmentName %}
        <div class="govuk-phase-banner">
          {{ govukTag({
            text: environmentName,
            classes: environmentNameColour
          }) }}
        </div>
      {% endif %}
    </div>

    <nav aria-label="Account navigation">
      <ul class="hmpps-header__navigation">
        {% if user %}
          <li class="hmpps-header__navigation__item">
            <span data-qa="header-user-name">{{ user.displayName | initialiseName }}</span>
          </li>
        {% endif %}

        <li class="hmpps-header__navigation__item">
          <a data-qa="signOut" class="hmpps-header__link hmpps-header__link--no-underline hmpps-header__sign-out" href="/sign-out">Sign out</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
