{% extends "govuk/template.njk" %}

{% block head %}
  {# Google Analytics: Google Analytics 4 (GA4) #}
  {% if googleAnalyticsGa4Id %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ googleAnalyticsGa4Id }}"></script>
    <script nonce="{{ cspNonce }}">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ googleAnalyticsGa4Id }}', {
        active_case_load: '{{ user.activeCaseload.id | default('') }}',
      });
    </script>
  {% endif %}

  <link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet" />
  <script src="/assets/js/jquery.min.js"></script>


  {% if feComponents.jsInclude %}
    {% for js in feComponents.jsIncludes %}
      <script src="{{ js }}" nonce="{{ cspNonce }}"></script>
    {% endfor %}
  {% endif %}

  {% if feComponents.cssIncludes %}
    {% for css in feComponents.cssIncludes %}
      <link href="{{ css }}" nonce="{{ cspNonce }}" rel="stylesheet" />
    {% endfor %}
  {% endif %}

{% endblock %}

{% block pageTitle %}{{ pageTitle | default(applicationName) }}{% endblock %}

{% block header %}
  {% if feComponents.header %}
    {{ feComponents.header | safe }}
  {% else %}
      {% include "./header.njk" %}
      {% include "./caseloadBar.njk" %}
  {% endif %}
{% endblock %}

{% block beforeContent %}
  {% include "./breadCrumbs.njk" %}
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the
  <body>, to avoid blocking the initial render. #}
  <script src="/assets/govuk/all.js"></script>
  <script src="/assets/moj/all.js"></script>
  <script src="/assets/application.js"></script>
{% endblock %}

{% block footer %}
  {% if feComponents.footer %}
    {{ feComponents.footer | safe }}
  {% else %}
    {% include "./footer.njk" %}
  {% endif %}
{% endblock %}
