{% from "moj/components/banner/macro.njk" import mojBanner %}

{% for messageType, messages in messages %}
  {% for message in messages %}
    {{ mojBanner({
      type: messageType,
      html: message | escape | nl2br
    }) }}
  {% endfor %}
{% endfor %}
