{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set fieldId = "defaultOnAdmission" %}
{% set field = form.getField(fieldId) %}
{% if form.submitted %}
  {% set defaultOnAdmission = field.value == "yes" %}
{% else %}
  {% set defaultOnAdmission = mustBeDefaultOnAdmission or prisonIncentiveLevel.defaultOnAdmission if prisonIncentiveLevel else false %}
{% endif %}
{{ govukCheckboxes({
  attributes: { id: form.formId + "-" + fieldId },
  name: fieldId,
  fieldset: {
    legend: {
      text: "Default incentive level",
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "yes",
      text: "Make this the default level for new prisoners in your establishment",
      checked: defaultOnAdmission
    }
  ],
  errorMessage: { text: field.error } if field.error else undefined
}) }}

<h2 class="govuk-heading-l govuk-!-margin-top-8">
  Money
</h2>

{% call govukFieldset({
  legend: {
    text: "Transfer limit from private cash, in pounds per week",
    classes: "govuk-fieldset__legend--m"
  }
}) %}
  {% set fieldId = "remandTransferLimit" %}
  {% set field = form.getField(fieldId) %}
  {{ govukInput({
    label: { text: "Remand prisoners" },
    prefix: { text: "£" },
    classes: "govuk-input--width-5",
    id: form.formId + "-" + fieldId,
    name: fieldId,
    value: field.value,
    suffix: { text: "per week" },
    spellcheck: false,
    errorMessage: { text: field.error } if field.error else undefined
  }) }}

  {% set fieldId = "convictedTransferLimit" %}
  {% set field = form.getField(fieldId) %}
  {{ govukInput({
    label: { text: "Convicted prisoners" },
    prefix: { text: "£" },
    classes: "govuk-input--width-5",
    id: form.formId + "-" + fieldId,
    name: fieldId,
    value: field.value,
    suffix: { text: "per week" },
    spellcheck: false,
    errorMessage: { text: field.error } if field.error else undefined
  }) }}
{% endcall %}

{% call govukFieldset({
  legend: {
    text: "Maximum allowed in spends account, in pounds",
    classes: "govuk-fieldset__legend--m"
  }
}) %}
  {% set fieldId = "remandSpendLimit" %}
  {% set field = form.getField(fieldId) %}
  {{ govukInput({
    label: { text: "Remand prisoners" },
    prefix: { text: "£" },
    classes: "govuk-input--width-5",
    id: form.formId + "-" + fieldId,
    name: fieldId,
    value: field.value,
    spellcheck: false,
    errorMessage: { text: field.error } if field.error else undefined
  }) }}

  {% set fieldId = "convictedSpendLimit" %}
  {% set field = form.getField(fieldId) %}
  {{ govukInput({
    label: { text: "Convicted prisoners" },
    prefix: { text: "£" },
    classes: "govuk-input--width-5",
    id: form.formId + "-" + fieldId,
    name: fieldId,
    value: field.value,
    spellcheck: false,
    errorMessage: { text: field.error } if field.error else undefined
  }) }}

{% endcall %}

<h2 class="govuk-heading-l govuk-!-margin-top-8">
  Visits
</h2>

{% call govukFieldset({
  legend: {
    text: "Visit allowances for convicted prisoners",
    classes: "govuk-fieldset__legend--m"
  }
}) %}
  {% set fieldId = "visitOrders" %}
  {% set field = form.getField(fieldId) %}
  {{ govukInput({
    label: { text: "Visits (VO)" },
    classes: "govuk-input--width-3",
    id: form.formId + "-" + fieldId,
    name: fieldId,
    value: field.value,
    suffix: { text: "added every 14 days" },
    inputmode: "numeric",
    spellcheck: false,
    errorMessage: { text: field.error } if field.error else undefined
  }) }}

  {% set fieldId = "privilegedVisitOrders" %}
  {% set field = form.getField(fieldId) %}
  {{ govukInput({
    label: { text: "Privileged visits (PVO)" },
    classes: "govuk-input--width-3",
    id: form.formId + "-" + fieldId,
    name: fieldId,
    value: field.value,
    suffix: { text: "added each month" },
    inputmode: "numeric",
    spellcheck: false,
    errorMessage: { text: field.error } if field.error else undefined
  }) }}

  <p>VOs are added every 14 days from the date of conviction. Unused VOs can be accumulated up to a total of 26.</p>

  <p>PVOs are added on the first day of each month. Unused PVOs expire at the end of each month.</p>

{% endcall %}
