{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{# Required variables: chartFeedbackForm, csrfToken #}

{% macro commentTextarea(chartFeedbackForm, id) %}
  {{ govukTextarea({
    id: chartFeedbackForm.formId + "-" + id + "Comments",
    name: id + "Comments",
    value: chartFeedbackForm.getField(id + "Comments").value,
    label: {
      text: "Comments (optional)"
    },
    rows: 3
  }) }}
{% endmacro %}

{% set chartUsefulHtml %}
  {{ commentTextarea(chartFeedbackForm, "yes") }}
{% endset %}

{% set chartNotUsefulHtml %}
  {% set mainNoReasonField = chartFeedbackForm.getField("mainNoReason") %}
  {{ govukRadios({
    idPrefix: chartFeedbackForm.formId + "-mainNoReason",
    name: "mainNoReason",
    classes: "govuk-radios--small",
    fieldset: {
      legend: {
        text: "Why wasn’t this chart useful?",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [
      {
        value: "not-relevant",
        text: "It’s not relevant to me",
        checked: mainNoReasonField.value === "not-relevant"
      },
      {
        value: "do-not-understand",
        text: "I don’t understand it",
        checked: mainNoReasonField.value === "do-not-understand"
      },
      {
        value: "does-not-show-enough",
        text: "It doesn’t show me enough",
        checked: mainNoReasonField.value === "does-not-show-enough"
      },
      {
        value: "what-to-do-with-info",
        text: "I don’t know what to do with the information",
        checked: mainNoReasonField.value === "what-to-do-with-info"
      },
      {
        value: "other",
        text: "Other",
        checked: mainNoReasonField.value === "other"
      }
    ],
    errorMessage: { text: mainNoReasonField.error } if mainNoReasonField.error else undefined
  }) }}

  {{ commentTextarea(chartFeedbackForm, "no") }}
{% endset %}

<form id="form-{{ chartFeedbackForm.formId }}" method="post" novalidate>
  {% set chartUsefulField = chartFeedbackForm.getField("chartUseful") %}
  {{ govukRadios({
    idPrefix: chartFeedbackForm.formId + "-chartUseful",
    name: "chartUseful",
    fieldset: {
      legend: {
        text: "Is this chart useful?",
        classes: "govuk-visually-hidden"
      }
    },
    items: [
      {
        value: "yes",
        text: "Yes",
        checked: chartUsefulField.value === "yes",
        conditional: {
          html: chartUsefulHtml
        }
      },
      {
        value: "no",
        text: "No",
        checked: chartUsefulField.value === "no",
        conditional: {
          html: chartNotUsefulHtml
        }
      }
    ],
    errorMessage: { text: chartUsefulField.error } if chartUsefulField.error else undefined
  }) }}

  <input type="hidden" name="formId" value="{{ chartFeedbackForm.formId }}" />
  <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

  {{ govukButton({
    text: "Submit",
    classes: "govuk-!-margin-bottom-0",
    preventDoubleClick: true
  }) }}
</form>
