{% extends "./chartBaseStackedPercentageBars.njk" %}

{% block valueColumn %}
  {{ super() }}
  <span class="govuk-visually-hidden">entries</span>
{% endblock %}

{% block rowTotalValue %}
  {{ super() }}
  <span class="govuk-visually-hidden">entries</span>
{% endblock %}

{% block rowValue %}
  {{ super() }}
  <span class="govuk-visually-hidden">entries</span>
{% endblock %}
