{% from "govuk/components/details/macro.njk" import govukDetails %}

{#
Required variables:
- graphId
- chartFeedbackForm
- chartGuidance
- graphGoogleAnalyticsCategory
- report
- user
#}

<h2 class="govuk-heading-m">
  {{ chartTitle }}
</h2>

{% if not report.hasErrors %}

  <p>
    Data source: {{ report.dataSource -}}<span class="govuk-visually-hidden">.</span>
    <br />
    Date updated: {{ report.lastUpdated | shortDate -}}<span class="govuk-visually-hidden">.</span>
  </p>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukDetails({
        summaryText: "How you can use this chart",
        text: chartGuidance,
        id: "guidance-" + graphId,
        classes: "govuk-!-margin-bottom-2 govuk-!-display-none-print",
        attributes: {
          "data-qa": "guidance",
          "data-ga-category": "How you can use this chart > " + graphGoogleAnalyticsCategory,
          "data-ga-label": user.activeCaseload.id | default("")
        }
      }) }}

      {% set chartFeedbackHtml %}
        {% include "./formFeedback.njk" %}
      {% endset %}
      {{ govukDetails({
        summaryText: "Is this chart useful?",
        html: chartFeedbackHtml,
        id: "chart-feedback-" + graphId,
        classes: "govuk-!-display-none-print",
        open: chartFeedbackForm.hasErrors,
        attributes: {
          "data-qa": "chart-feedback",
          "data-ga-category": "Is this chart useful > " + graphGoogleAnalyticsCategory,
          "data-ga-label": user.activeCaseload.id | default("")
        }
      }) }}
    </div>
  </div>

  {% block chart %}TEMPLATE HIERARCHY ERROR{% endblock %}

{% else %}

  {% include "./reportError.njk" %}

{% endif %}
