{% from "./chartBaseStackedPercentageBars.njk" import chartBaseStackedPercentageBars %}

{% macro valueColumn(column, columnIndex) %}
  {{- column }}
  <span class="govuk-visually-hidden">entries</span>
{% endmacro %}

{% macro rowTotalValue(total, rowIndex) %}
  {{- total | thousands }}
  <span class="govuk-visually-hidden">entries</span>
{% endmacro %}

{% macro rowValue(value, column, columnIndex) %}
  {{- value | thousands }}
  <span class="govuk-visually-hidden">entries</span>
{% endmacro %}

{% macro chartBehaviourEntries(
  title,
  guidance,
  labelColumn,
  chartId,
  googleAnalyticsCategory,
  activeCaseload,
  form,
  csrfToken,
  report,
  labelColumnWidth=undefined
) %}

  {{ chartBaseStackedPercentageBars(
    title=title,
    guidance=guidance,
    labelColumn=labelColumn,
    chartId=chartId,
    googleAnalyticsCategory=googleAnalyticsCategory,
    activeCaseload=activeCaseload,
    form=form,
    csrfToken=csrfToken,
    report=report,
    labelColumnWidth=labelColumnWidth,
    valueColumn=valueColumn,
    rowTotalValue=rowTotalValue,
    rowValue=rowValue
  ) }}

{% endmacro %}
