{% from "./chartBase.njk" import chartBase %}

{% macro heatMapColour(percentage) -%}
  {#- heat map ranges from white at 0% to (almost) GDS light purple at 100% -#}
  {#- at 0% the colour is 0% GDS light purple tint; i.e. white -#}
  {#- however, at 1% the colour is 3% GDS light purple tint to allow 0% be markedly different from 1% -#}
  {#- at 100% the colour is 90% GDS light purple with 10% white -#}
  {%- if percentage == 0 -%}
    #fff
  {%- else -%}
    hsl(237,29%,{{ 65 + 32 * (100 - percentage) / 100 }}%)
  {%- endif -%}
{%- endmacro %}

{% macro valueColumn(column, columnIndex) %}
  {{- column -}}
{% endmacro %}

{% macro rowTotalValue(total, rowIndex) %}
  {{- total | thousands -}}
{% endmacro %}

{% macro rowValue(value, column, columnIndex) %}
  {{- value | thousands -}}
{% endmacro %}

{% macro chartBaseHeatmap(
  title,
  guidance,
  labelColumn,
  chartId,
  googleAnalyticsCategory,
  activeCaseload,
  form,
  csrfToken,
  report,
  valueColumn=valueColumn,
  rowTotalValue=rowTotalValue,
  rowValue=rowValue
) %}

  {% call chartBase(
    title=title,
    guidance=guidance,
    chartId=chartId,
    googleAnalyticsCategory=googleAnalyticsCategory,
    activeCaseload=activeCaseload,
    form=form,
    csrfToken=csrfToken,
    report=report
  ) %}

    <div class="govuk-!-margin-top-8">
      <div aria-hidden="true" class="app-chart-legend">
        <span class="app-chart-legend__label">0%</span>
        <span class="app-chart-legend__swatch" data-style-background="{{ heatMapColour(0) }}">&nbsp;</span>
        <span class="app-chart-legend__swatch" data-style-background="{{ heatMapColour(15) }}">&nbsp;</span>
        <span class="app-chart-legend__swatch" data-style-background="{{ heatMapColour(30) }}">&nbsp;</span>
        <span class="app-chart-legend__swatch" data-style-background="{{ heatMapColour(45) }}">&nbsp;</span>
        <span class="app-chart-legend__swatch" data-style-background="{{ heatMapColour(60) }}">&nbsp;</span>
        <span class="app-chart-legend__swatch" data-style-background="{{ heatMapColour(75) }}">&nbsp;</span>
        <span class="app-chart-legend__swatch" data-style-background="{{ heatMapColour(100) }}">&nbsp;</span>
        <span class="app-chart-legend__label">100%</span>
      </div>
    </div>

    <table class="app-chart-table app-chart-table--heatmap" id="table-{{ chartId }}">
      <caption class="govuk-visually-hidden">
        {{ title }}
      </caption>

      <thead>
        <tr>
          <th scope="col">{{ labelColumn }}</th>
          {% for column in report.columns %}
            <th scope="col">
              {{ valueColumn(column=column, columnIndex=loop.index0) }}
            </th>
          {% endfor %}
        </tr>
      </thead>

      <tbody>
        {% for row in report.rows %}
          {% set rowIndex = loop.index0 %}
          {% set total = row.values | sum %}

          <tr>
            <td>
              <strong>
                {% if row.href %}
                  <a href="{{ row.href }}">{{ row.label }}</a>
                {% else %}
                  {{ row.label }}
                {% endif %}
              </strong>
              <br />
              {{ rowTotalValue(total=total, rowIndex=rowIndex) }}
            </td>

            {% for column in report.columns %}
              {% set columnIndex = loop.index0 %}
              {% set value = row.values[columnIndex] %}
              {% set percentage = value | percentageOf(total) %}

              <td>
                <span class="app-chart-table--heatmap__cell" data-style-background="{{ heatMapColour(percentage | float) }}">
                  {{ percentage }}
                  <br />
                  {{ rowValue(value=value, column=column, columnIndex=columnIndex) }}
                </span>
              </td>
            {% endfor %}
          </tr>

          {% if loop.first %}
            <tr aria-hidden="true"><td colspan="{{ (report.columns | length) + 1 }}"></td></tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>

  {% endcall %}

{% endmacro %}
