<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="app-chart-disclaimer">
      <h2 class="govuk-heading-s">A note on our data</h2>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0 govuk-!-font-size-16">
        <li>
          For a small number of prisoners, some information is missing – for instance recorded protected characteristics.
          This might lead to slight variations in our totals.
        </li>
        <li>
          Prisoner cell location data comes from NOMIS population records.
          There might be small variations if a prisoner is somewhere other than what’s recorded in the prison population that day.
        </li>
      </ul>
    </div>

  </div>
</div>
