<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="app-chart-disclaimer">
      <h2 class="govuk-heading-s">About</h2>
      <p class="govuk-!-font-size-16">
        <a href="/about">Information on how we collect, group and analyse data</a> for the Manage incentive charts.
      </p>
    </div>

  </div>
</div>
