{% extends "../../partials/layout.njk" %}
{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}

{% block content %}
  {% if analyticsView and (analyticsView.isNational or analyticsView.isRegional) %}
    <div class="pgd-region">
      <h1 class="govuk-heading-xl">
        {% if analyticsView.isNational %}
          National
        {% else %}
          {{ analyticsView.pgdRegionName }}
        {% endif %}
      </h1>
      <p>
        <a href="/analytics/select-pgd-region">Select another prison group</a>
      </p>
    </div>
  {% endif %}

  {{ mojSubNavigation({
    label: "Incentive data navigation",
    classes: "govuk-!-display-none-print",
    items: [
      {
        text: "Incentive levels",
        href: analyticsView.linkTo('incentive-levels'),
        active: chartPageId == "incentive-levels",
        attributes: { "data-qa": "incentive-levels" }
      },
      {
        text: "Behaviour entries",
        href: analyticsView.linkTo('behaviour-entries'),
        active: chartPageId == "behaviour-entries",
        attributes: { "data-qa": "behaviour-entries" }
      },
      {
        text: "Protected characteristics",
        href: analyticsView.linkTo('protected-characteristic'),
        active: chartPageId == "protected-characteristics",
        attributes: { "data-qa": "protected-characteristics" }
      }
   ]
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "../messages.njk" %}

      {% include "../formErrorSummary.njk" %}

      <h1 class="govuk-heading-xl">
        {{ chartPageTitle }}
      </h1>

    </div>
  </div>

  {% block chartContent %}
    TEMPLATE ERROR
  {% endblock %}

  {% include "./disclaimer.njk" %}

{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script src="/assets/analytics.js"></script>
  {% include "../hotjar.njk" %}
{% endblock %}
