{% extends "../../partials/layout.njk" %}
{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}

{% block content %}
  {% if prisonGroup %}
    <div class="govuk-!-margin-bottom-4">
      <h1 class="govuk-heading-xl govuk-!-margin-top-0 govuk-!-margin-bottom-0">
        {{ prisonGroup }}
      </h1>
      <a href="/analytics/select-prison-group" class="govuk-link">Select another prison group</a>
    </div>
  {% endif %}

  {{ mojSubNavigation({
    label: "Incentive data navigation",
    classes: "govuk-!-display-none-print",
    items: [
      {
        text: "Incentive levels",
        href: "/analytics/incentive-levels",
        active: chartPageId == "incentive-levels",
        attributes: { "data-qa": "incentive-levels" }
      },
      {
        text: "Behaviour entries",
        href: "/analytics/behaviour-entries",
        active: chartPageId == "behaviour-entries",
        attributes: { "data-qa": "behaviour-entries" }
      },
      {
        text: "Protected characteristics",
        href: "/analytics/protected-characteristic?characteristic=age",
        active: chartPageId == "protected-characteristics",
        attributes: { "data-qa": "protected-characteristics" }
      }
   ]
  }) }}
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script src="/assets/analytics.js"></script>
{% endblock %}
