$govuk-global-styles: true;
$path: "/assets/images/";
$govuk-page-width: 1280px;

@import 'govuk/all';
@import 'moj/all';

@import './components/card';
@import './components/chart-colours';
@import './components/chart-legend';
@import './components/chart-table';
@import './components/chart-table-bars';
@import './components/chart-table-heatmap';
@import './components/data-source';
@import './components/error-stack';
@import './components/header-bar';

@import './local';

.moj-header__container {
  max-width: $govuk-page-width
}
