.govuk-tabs--incentive-summary {
  h2 {
    @include govuk-media-query($from: tablet) {
      display: none;
    }
  }

  .govuk-tabs__panel {
    border: 0;
    overflow-x: auto;
    padding: govuk-spacing(6) 0;
  }
}

.govuk-table--incentive-summary {
  width: 99%;

  .govuk-table__header {
    @include govuk-font($size: 16, $weight: bold);
  }
}
