// overrides to styles in govuk-frontend

.feedback-banner {
  padding-top: 0;

  .govuk-tag {
    background-color: govuk-colour("pink");
  }
}

.govuk-main-wrapper {
  min-height: 600px
}

.govuk-tabs--incentive-summary {
  .govuk-tabs__panel {
    border: 0;
    padding: 30px 0px;
  }
}

.govuk-table {
  .govuk-table__body {
    .govuk-table__cell {
      vertical-align: middle;
    }
  }
}

.govuk-table--striped {
  .govuk-table__body {
    tr:nth-child(even) {
      background-color: govuk-colour("light-grey");
    }
  }
}
