{% macro dataSource(source, date, params) %}
  <p>
    Data source: {{ source -}}<span class="govuk-visually-hidden">.</span>
    <br />
    Date updated: {{ date | date -}}<span class="govuk-visually-hidden">.</span>
  </p>
{% endmacro %}
