<h2 class="govuk-heading-l" id="about">
  About the Manage incentive charts
</h2>

<p>
  Manage Incentives is a DPS digital service aimed at helping users view key data around incentives and behaviour entries for their prison or region.
</p>
<p>
  It contains a series of charts that can be viewed individually or together to help users make sense of the incentives environment.
  The aim is that having local and accessible data on some key data points in one place will help users to identify opportunities to be more effective, less punitive, and fairer to all prisoners, in line with the incentives policy framework.
</p>
<p>
  It’s intended as an information and insights tool to increase understanding and help develop insights in order to inform decisions rather than as a performance tool.
  It should be used alongside other sources of information such as other data, local and operational knowledge, and talking to staff and prisoners, to prompt discussions and inform actions about what is taking place with regard to incentives in your area of interest.
</p>
