$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1280px;
$govuk-page-width: $moj-page-width;

@import 'govuk/all';
@import 'moj/all';

@import './components/card';
@import './components/chart-colours';
@import './components/chart-disclaimer';
@import './components/chart-legend';
@import './components/chart-table';
@import './components/chart-table-bars';
@import './components/chart-table-heatmap';
@import './components/chart-table-trends';
@import './components/data-list';
@import './components/error-stack';
@import './components/feedback-banner';
@import './components/header-bar';
@import './components/tables';
@import './components/reviews-table';

@import './global';
@import './incentive-summary';
@import './pgd-region';

// TODO: remove once incentive level management is designed
.app-incentive-levels-list {
  @include govuk-media-query($from: tablet) {
    .govuk-summary-list__key {
      width: 20%;
    }
    .govuk-summary-list__actions {
      width: 30%;
    }
  }
}
