$govuk-global-styles: true;
$govuk-suppressed-warnings: 'ie8', 'govuk-typography-scale-14';
$path: '/assets/images/';

$moj-page-width: 1280px;
$govuk-page-width: $moj-page-width;

@import 'govuk-frontend/dist/govuk/all';
@import '@ministryofjustice/frontend/moj/all';

@import './components/button';
@import './components/card';
@import './components/caseload-bar';
@import './components/chart-colours';
@import './components/chart-disclaimer';
@import './components/chart-legend';
@import './components/chart-table';
@import './components/chart-table-bars';
@import './components/chart-table-heatmap';
@import './components/chart-table-trends';
@import './components/data-list';
@import './components/date-picker';
@import './components/error-stack';
@import './components/header';
@import './components/footer';
@import './components/tables';
@import './components/reviews-table';
@import './components/typography';
@import './components/horizontal-content';
@import './components/mini-profile-header';
@import './components/incentive-level-details-text';
@import './components/incentive-levels';

@import './global';
@import './incentive-summary';
@import './pgd-region';
