{% extends "../../partials/analytics/layout.njk" %}

{% from "../../partials/analytics/chartBehaviourEntries.njk" import chartBehaviourEntries %}
{% from "../../partials/analytics/chartPrisonersWithBehaviourEntries.njk" import chartPrisonersWithBehaviourEntries %}
{% from "../../partials/analytics/chartTrends.njk" import chartTrends %}

{% set graphPageId = "behaviour-entries" %}
{% set graphTitle = "Behaviour entries" %}
{% set pageTitle = applicationName + " – " + graphTitle %}

{% block content %}
  {{ super() }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "../../partials/messages.njk" %}

      {% include "../../partials/formErrorSummary.njk" %}

      <h1 class="govuk-heading-xl">
        {{ graphTitle }}
      </h1>

    </div>
  </div>

  <div class="govuk-grid-row">
    <section class="govuk-grid-column-one-half govuk-!-margin-bottom-9">

      {% set graphId = "entries-by-location" %}
      {{ chartBehaviourEntries(
        title="Comparison of positive and negative behaviour entries by residential location – last 28 days",
        guidance="This chart lets you see the balance of positive to negative entries across the prison and at residential location level. Do these splits suggest a fair and consistent application of incentives?",
        labelColumn="Location",
        graphId=graphId,
        graphGoogleAnalyticsCategory="Behaviour entries by wing",
        activeCaseload=user.activeCaseload.id,
        form=forms[graphId],
        csrfToken=csrfToken,
        report=behaviourEntries
      ) }}

    </section>
    <section class="govuk-grid-column-one-half govuk-!-margin-bottom-9">

      {% set graphId = "prisoners-with-entries-by-location" %}
      {{ chartPrisonersWithBehaviourEntries(
        title="Percentage and number of prisoners on each behaviour entry type by residential location – last 28 days",
        guidance="Individual prisoner behaviours can give you a fuller picture. Are you happy with how many prisoners have no entries and how many have both? Positive entries can help lead to behaviour improvements.",
        labelColumn="Location",
        graphId=graphId,
        graphGoogleAnalyticsCategory="Prisoners with behaviour entries by wing",
        activeCaseload=user.activeCaseload.id,
        form=forms[graphId],
        csrfToken=csrfToken,
        report=prisonersWithEntries
      ) }}

    </section>
  </div>

  {% if featureFlags.showAnalyticsTrends %}
    <div class="govuk-grid-row">
      <section class="govuk-grid-column-two-thirds govuk-!-margin-bottom-9">

        {% set graphId = "trends-entries" %}
        {{ chartTrends(
          title="Comparison of positive and negative behaviour entries in the establishment – last 12 months",
          guidance="Use this chart to compare the numbers of positive, negative and total entries with previous months. What do the number of entries and the positive-negative ratios tell you about the incentives policy and the behaviour of prisoners? Be aware of any significant population changes.",
          graphId=graphId,
          graphGoogleAnalyticsCategory="Behaviour entry trends",
          activeCaseload=user.activeCaseload.id,
          form=forms[graphId],
          csrfToken=csrfToken,
          report=trends
        ) }}

      </section>
    </div>
  {% endif %}

  {% include "../../partials/analytics/disclaimer.njk" %}
{% endblock %}
