{% extends "../../partials/analytics/layout.njk" %}

{% from "../../partials/analytics/chartBehaviourEntries.njk" import chartBehaviourEntries %}
{% from "../../partials/analytics/chartPrisonersWithBehaviourEntries.njk" import chartPrisonersWithBehaviourEntries %}
{% from "../../partials/analytics/chartTrends.njk" import chartTrends %}

{% set graphPageId = "behaviour-entries" %}
{% set graphTitle = "Behaviour entries" %}
{% set pageTitle = applicationName + " – " + graphTitle %}

{% block content %}
  {{ super() }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "../../partials/messages.njk" %}

      {% include "../../partials/formErrorSummary.njk" %}

      <h1 class="govuk-heading-xl">
        {{ graphTitle }}
      </h1>

    </div>
  </div>

  <div class="govuk-grid-row">
    <section class="govuk-grid-column-one-half govuk-!-margin-bottom-9">

      {% set graphId = "entries-by-location" %}
      {{ chartBehaviourEntries(
        title=BehaviourEntriesChartsContent[graphId].title,
        guidance=BehaviourEntriesChartsContent[graphId].guidance,
        labelColumn=BehaviourEntriesChartsContent[graphId].labelColumn,
        graphId=graphId,
        graphGoogleAnalyticsCategory=BehaviourEntriesChartsContent[graphId].googleAnalyticsCategory,
        activeCaseload=user.activeCaseload.id,
        form=forms[graphId],
        csrfToken=csrfToken,
        report=behaviourEntries
      ) }}

    </section>
    <section class="govuk-grid-column-one-half govuk-!-margin-bottom-9">

      {% set graphId = "prisoners-with-entries-by-location" %}
      {{ chartPrisonersWithBehaviourEntries(
        title=BehaviourEntriesChartsContent[graphId].title,
        guidance=BehaviourEntriesChartsContent[graphId].guidance,
        labelColumn=BehaviourEntriesChartsContent[graphId].labelColumn,
        graphId=graphId,
        graphGoogleAnalyticsCategory=BehaviourEntriesChartsContent[graphId].googleAnalyticsCategory,
        activeCaseload=user.activeCaseload.id,
        form=forms[graphId],
        csrfToken=csrfToken,
        report=prisonersWithEntries
      ) }}

    </section>
  </div>

  <div class="govuk-grid-row">
    <section class="govuk-grid-column-two-thirds govuk-!-margin-bottom-9">

      {% set graphId = "trends-entries" %}
      {{ chartTrends(
        title=BehaviourEntriesChartsContent[graphId].title,
        guidance=BehaviourEntriesChartsContent[graphId].guidance,
        graphId=graphId,
        graphGoogleAnalyticsCategory=BehaviourEntriesChartsContent[graphId].googleAnalyticsCategory,
        activeCaseload=user.activeCaseload.id,
        form=forms[graphId],
        csrfToken=csrfToken,
        report=trends
      ) }}

    </section>
  </div>

  {% include "../../partials/analytics/disclaimer.njk" %}
{% endblock %}
