{% extends "../../partials/layout.njk" %}
{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}

{% block content %}
  {% set subNavigationItems = [
    {
      text: "Incentive levels",
      href: "/analytics/incentive-levels",
      active: graphPageId == "incentive-levels",
      attributes: { "data-qa": "incentive-levels" }
    }, {
      text: "Behaviour entries",
      href: "/analytics/behaviour-entries",
      active: graphPageId == "behaviour-entries",
      attributes: { "data-qa": "behaviour-entries" }
    }
  ] %}
  {% if featureFlags.showPcAnalytics %}
    {% set _ = subNavigationItems.push(
      {
        text: "Protected characteristics",
        href: "/analytics/protected-characteristics",
        active: graphPageId == "protected-characteristics",
        attributes: { "data-qa": "protected-characteristics" }
      }
    ) %}
  {% endif %}
  {{ mojSubNavigation({
    label: "Incentive data navigation",
    items: subNavigationItems,
    classes: "govuk-!-display-none-print"
  }) }}
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script src="/assets/analyticsGraphs.js"></script>
{% endblock %}
