{% extends "../../partials/analytics/layout.njk" %}

{% set graphPageId = "incentive-levels" %}
{% set graphTitle = "Incentive levels" %}
{% set pageTitle = applicationName + " – " + graphTitle %}

{% block content %}
  {{ super() }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "../../partials/messages.njk" %}

      {% include "../../partials/formErrorSummary.njk" %}

      <h1 class="govuk-heading-xl">
        {{ graphTitle }}
      </h1>

    </div>
  </div>

  <div class="govuk-grid-row">
    <section class="govuk-grid-column-two-thirds govuk-!-margin-bottom-9">

      {% set chartTitle = "Percentage and number of prisoners on each incentive level by wing" %}
      {% set chartGuidance = "Use this chart to see incentive level splits for the prison and wings. What does it tell you about how the incentives policy is applied, the population and possible actions for your prison?" %}
      {% set labelColumn = "Location" %}
      {% set graphId = "incentive-levels-by-location" %}
      {% set graphGoogleAnalyticsCategory = "Incentive level by wing" %}
      {% set chartFeedbackForm = forms[graphId] %}
      {% set report = prisonersOnLevels %}
      {% include "../../partials/analytics/chartPrisonersOnLevels.njk" %}

    </section>
  </div>

  {% if featureFlags.showAnalyticsTrends %}
    <div class="govuk-grid-row">
      <section class="govuk-grid-column-two-thirds govuk-!-margin-bottom-9">

        {% set chartTitle = "Incentive levels in the establishment over the last 12 months" %}
        {% set chartGuidance = "Use this chart to compare incentive levels with previous months. Are there any concerns or surprises that need explored further? Is the incentives scheme producing the levels you would like it to?" %}
        {% set graphId = "trends-incentive-levels" %}
        {% set graphGoogleAnalyticsCategory = "Incentive level trends" %}
        {% set chartFeedbackForm = forms[graphId] %}
        {% set report = trends %}
        {% include "../../partials/analytics/chartTrends.njk" %}

      </section>
    </div>
  {% endif %}

  {% include "../../partials/analytics/disclaimer.njk" %}
{% endblock %}
