{% extends "../../partials/analytics/layout.njk" %}

{% from "../../partials/analytics/chartPrisonersOnLevels.njk" import chartPrisonersOnLevels %}
{% from "../../partials/analytics/chartTrends.njk" import chartTrends %}

{% set graphPageId = "incentive-levels" %}
{% set graphTitle = "Incentive levels" %}
{% set pageTitle = applicationName + " – " + graphTitle %}

{% block content %}
  {{ super() }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "../../partials/messages.njk" %}

      {% include "../../partials/formErrorSummary.njk" %}

      <h1 class="govuk-heading-xl">
        {{ graphTitle }}
      </h1>

    </div>
  </div>

  <div class="govuk-grid-row">
    <section class="govuk-grid-column-two-thirds govuk-!-margin-bottom-9">

      {% set graphId = "incentive-levels-by-location" %}
      {{ chartPrisonersOnLevels(
        title="Percentage and number of prisoners on each incentive level by residential location",
        guidance="Use this chart to see incentive level splits for the prison and residential location. What does it tell you about how the incentives policy is applied, the population and possible actions for your prison?",
        labelColumn="Location",
        graphId=graphId,
        graphGoogleAnalyticsCategory="Incentive level by wing",
        activeCaseload=user.activeCaseload.id,
        form=forms[graphId],
        csrfToken=csrfToken,
        report=prisonersOnLevels
      ) }}

    </section>
  </div>

  {% if featureFlags.showAnalyticsTrends %}
    <div class="govuk-grid-row">
      <section class="govuk-grid-column-two-thirds govuk-!-margin-bottom-9">

        {% set graphId = "trends-incentive-levels" %}
        {{ chartTrends(
          title="Incentive levels in the establishment – last 12 months",
          guidance="Use this chart to compare incentive levels with previous months. Information is taken from monthly averages. Is there anything that needs explored further? Is the incentives scheme producing the levels you would like it to?",
          graphId=graphId,
          graphGoogleAnalyticsCategory="Incentive level trends",
          activeCaseload=user.activeCaseload.id,
          form=forms[graphId],
          csrfToken=csrfToken,
          report=trends
        ) }}

      </section>
    </div>
  {% endif %}

  {% include "../../partials/analytics/disclaimer.njk" %}
{% endblock %}
