{% extends "../../partials/analytics/layout.njk" %}

{% from "../../partials/analytics/chartPrisonersOnLevels.njk" import chartPrisonersOnLevels %}
{% from "../../partials/analytics/chartTrends.njk" import chartTrends %}

{% set chartPageId = "incentive-levels" %}
{% set chartPageTitle = "Incentive levels" %}
{% set pageTitle = applicationName + " – " + chartPageTitle + " – " + analyticsView.levelForTitle %}

{% set extraWideLabel = analyticsView.isNational %}

{% block chartContent %}

  <div class="govuk-grid-row">
    <section class="{% if extraWideLabel %}govuk-grid-column-full{% else %}govuk-grid-column-two-thirds{% endif %} govuk-!-margin-bottom-9">

      {% set chartId = "incentive-levels-by-location" %}
      {{ chartPrisonersOnLevels(
        title=analyticsView.incentiveLevelsChartsContent[chartId].title,
        guidance=analyticsView.incentiveLevelsChartsContent[chartId].guidance,
        labelColumn=analyticsView.incentiveLevelsChartsContent[chartId].labelColumn,
        chartId=chartId,
        googleAnalyticsCategory=analyticsView.incentiveLevelsChartsContent[chartId].googleAnalyticsCategory,
        activeCaseload=user.activeCaseload.id,
        form=forms[chartId],
        csrfToken=csrfToken,
        report=prisonersOnLevels,
        labelColumnWidth="extra-wide" if extraWideLabel else undefined
      ) }}

    </section>
  </div>

  <div class="govuk-grid-row">
    <section class="govuk-grid-column-two-thirds govuk-!-margin-bottom-9">

      {% set populationLabel %}
        {% if analyticsView.isPrisonLevel %}
          Prison population
        {% elif analyticsView.isRegional %}
          Total group population
        {% else %}
          National population
        {% endif %}
      {% endset%}

      {% set chartId = "trends-incentive-levels" %}
      {{ chartTrends(
        title=analyticsView.incentiveLevelsChartsContent[chartId].title,
        guidance=analyticsView.incentiveLevelsChartsContent[chartId].guidance,
        chartId=chartId,
        googleAnalyticsCategory=analyticsView.incentiveLevelsChartsContent[chartId].googleAnalyticsCategory,
        activeCaseload=user.activeCaseload.id,
        form=forms[chartId],
        csrfToken=csrfToken,
        report=trends,
        populationLabel=populationLabel
      ) }}

    </section>
  </div>

{% endblock %}
