{% extends "../../partials/layout.njk" %}

{% from "../../components/card/card.njk" import card %}

{% set pageTitle = applicationName + " – Incentives data" %}

{% block content %}

  <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
    Incentives data
  </h1>

  <ul class="govuk-grid-row card-group">
    <li class="govuk-grid-column-one-third card-group__item">
      {{ card({
        "href": "/analytics/behaviour-entries",
        "clickable": "true",
        "heading": "See behaviour entries",
        "description": "Positive and negative case note entries by wing"
      }) }}
    </li>
    <li class="govuk-grid-column-one-third card-group__item">
      {{ card({
        "href": "/analytics/incentive-levels",
        "clickable": "true",
        "heading": "See incentive levels",
        "description": "Prisoners on each level by wing"
      }) }}
    </li>
    <li class="govuk-grid-column-one-third card-group__item">
      {{ card({
        "href": "/analytics/protected-characteristics",
        "clickable": "true",
        "heading": "See protected characteristics",
        "description": "Prisoner incentive levels by ethnicity and age group"
      }) }}
    </li>
  </ul>

{% endblock %}
