{% extends "../../partials/layout.njk" %}

{% from "../../components/card/card.njk" import card %}

{% set pageTitle = applicationName + " – Incentives data" %}

{% block content %}

  <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
    Incentives data
  </h1>

  <ul class="govuk-grid-row card-group">
    <li class="govuk-grid-column-one-third card-group__item">
      {{ card({
        "href": "/analytics/incentive-levels",
        "clickable": "true",
        "heading": "Incentive levels",
        "description": "See percentage and number of prisoners on each incentive level by residential location.",
        "id": "incentive-levels"
      }) }}
    </li>
    <li class="govuk-grid-column-one-third card-group__item">
      {{ card({
        "href": "/analytics/behaviour-entries",
        "clickable": "true",
        "heading": "Behaviour entries",
        "description": "See data and comparisons of behaviour entries by residential location.",
        "id": "behaviour-entries"
      }) }}
    </li>
    <li class="govuk-grid-column-one-third card-group__item">
      {{ card({
        "href": "/analytics/protected-characteristics",
        "clickable": "true",
        "heading": "Protected characteristics",
        "description": "See data on behaviour entries in different groups of protected characteristics.",
        "id": "protected-characteristics"
      }) }}
    </li>
  </ul>

{% endblock %}
