{% extends "../../partials/analytics/layout.njk" %}

{% from "../../partials/analytics/chartPopulation.njk" import chartPopulation %}
{% from "../../partials/analytics/chartPrisonersOnLevels.njk" import chartPrisonersOnLevels %}

{% set chartPageId = "protected-characteristics" %}
{% set chartPageTitle = "Protected characteristics" %}
{% set pageTitle = applicationName + " – " + chartPageTitle %}

{% block content %}
  {{ super() }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "../../partials/messages.njk" %}

      {% include "../../partials/formErrorSummary.njk" %}

      <h1 class="govuk-heading-xl">
        {{ chartPageTitle }}
      </h1>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form id="form-select-characteristic" method="get" novalidate>
        <div class="govuk-form-group">
          <label class="govuk-label" for="characteristic">
            Select a protected characteristic
          </label>
          <select class="govuk-select" id="characteristic" name="characteristic">
              {%- for option in characteristicOptions -%}
                <option value="{{ option.value }}" {% if option.selected %}selected{% endif %}>{{ option.label }}</option>
              {%- endfor %}
          </select>

          <button class="govuk-button govuk-!-margin-left-2" data-module="govuk-button" data-prevent-double-click="true">
            Show results
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="govuk-grid-row">
    <section class="govuk-grid-column-two-thirds govuk-!-margin-bottom-9">

      {% set chartId = "population-by-" + characteristicName %}
      {{ chartPopulation(
        title=ProtectedCharacteristicsChartsContent[chartId].title,
        guidance=ProtectedCharacteristicsChartsContent[chartId].guidance,
        labelColumn=ProtectedCharacteristicsChartsContent[chartId].labelColumn,
        chartId=chartId,
        googleAnalyticsCategory=ProtectedCharacteristicsChartsContent[chartId].googleAnalyticsCategory,
        activeCaseload=user.activeCaseload.id,
        form=forms[chartId],
        csrfToken=csrfToken,
        report=incentiveLevelsByCharacteristic,
        wideLabel=ProtectedCharacteristicsChartsContent[chartId].wideLabel
      ) }}

    </section>
  </div>

  <div class="govuk-grid-row">
    <section class="govuk-grid-column-two-thirds govuk-!-margin-bottom-9">

      {% set chartId = "incentive-levels-by-" + characteristicName %}
      {{ chartPrisonersOnLevels(
        title=ProtectedCharacteristicsChartsContent[chartId].title,
        guidance=ProtectedCharacteristicsChartsContent[chartId].guidance,
        labelColumn=ProtectedCharacteristicsChartsContent[chartId].labelColumn,
        chartId=chartId,
        googleAnalyticsCategory=ProtectedCharacteristicsChartsContent[chartId].googleAnalyticsCategory,
        activeCaseload=user.activeCaseload.id,
        form=forms[chartId],
        csrfToken=csrfToken,
        report=incentiveLevelsByCharacteristic,
        wideLabel=ProtectedCharacteristicsChartsContent[chartId].wideLabel
      ) }}

    </section>
  </div>

  <div class="govuk-grid-row">
    <section class="govuk-grid-column-two-thirds govuk-!-margin-bottom-9">

      {% set chartId = "entries-by-" + characteristicName %}
      {{ chartPrisonersOnLevels(
        title=ProtectedCharacteristicsChartsContent[chartId].title,
        guidance=ProtectedCharacteristicsChartsContent[chartId].guidance,
        labelColumn=ProtectedCharacteristicsChartsContent[chartId].labelColumn,
        chartId=chartId,
        googleAnalyticsCategory=ProtectedCharacteristicsChartsContent[chartId].googleAnalyticsCategory,
        activeCaseload=user.activeCaseload.id,
        form=forms[chartId],
        csrfToken=csrfToken,
        report=behaviourEntriesByCharacteristic,
        wideLabel=ProtectedCharacteristicsChartsContent[chartId].wideLabel
      ) }}

    </section>
  </div>

  {% include "../../partials/analytics/disclaimer.njk" %}
{% endblock %}
