{% extends "../../partials/analytics/layout.njk" %}

{% from "../../partials/analytics/chartPrisonersOnLevels.njk" import chartPrisonersOnLevels %}

{% set graphPageId = "protected-characteristics" %}
{% set graphTitle = "Protected characteristics" %}
{% set pageTitle = applicationName + " – " + graphTitle %}

{% block content %}
  {{ super() }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "../../partials/messages.njk" %}

      {% include "../../partials/formErrorSummary.njk" %}

      <h1 class="govuk-heading-xl">
        {{ graphTitle }}
      </h1>

    </div>
  </div>

  <div class="govuk-grid-row">
    <section class="govuk-grid-column-two-thirds govuk-!-margin-bottom-9">

      {% set graphId = "incentive-levels-by-ethnicity" %}
      {{ chartPrisonersOnLevels(
        title="Percentage and number of prisoners on each incentive level by ethnicity",
        guidance="Use this chart to see incentive levels for the main ethnicity groups and compare them to prison levels. Are there patterns or imbalances that you might want to explore further?",
        labelColumn="Ethnicity",
        wideLabel=true,
        graphId=graphId,
        graphGoogleAnalyticsCategory="Incentive level by ethnicity",
        activeCaseload=user.activeCaseload.id,
        form=forms[graphId],
        csrfToken=csrfToken,
        report=prisonersByEthnicity
      ) }}

    </section>
  </div>

  <div class="govuk-grid-row">
    <section class="govuk-grid-column-two-thirds govuk-!-margin-bottom-9">

      {% set graphId = "incentive-levels-by-age" %}
      {{ chartPrisonersOnLevels(
        title="Percentage and number of prisoners on each incentive level by age",
        guidance="Use this chart to see incentive levels for the main age groups and compare them to prison levels. Are there patterns that suggest the incentives policy isn’t working as well for some groups?",
        labelColumn="Age",
        graphId=graphId,
        graphGoogleAnalyticsCategory="Incentive level by age",
        activeCaseload=user.activeCaseload.id,
        form=forms[graphId],
        csrfToken=csrfToken,
        report=prisonersByAge
      ) }}

    </section>
  </div>

  <div class="govuk-grid-row">
    <section class="govuk-grid-column-two-thirds govuk-!-margin-bottom-9">

      {% set graphId = "incentive-levels-by-religion" %}
      {{ chartPrisonersOnLevels(
        title="Percentage and number of prisoners on each incentive level by religion",
        guidance="Use this chart to see how incentive levels might vary for prisoners of different religions. Comparing to the overall prison levels should help you to spot any imbalances, but be aware of generalising from small numbers.",
        labelColumn="Religion",
        graphId=graphId,
        graphGoogleAnalyticsCategory="Incentive level by religion",
        activeCaseload=user.activeCaseload.id,
        form=forms[graphId],
        csrfToken=csrfToken,
        report=prisonersByReligion
      ) }}

    </section>
  </div>

  <div class="govuk-grid-row">
    <section class="govuk-grid-column-two-thirds govuk-!-margin-bottom-9">

      {% set graphId = "incentive-levels-by-disability" %}
      {{ chartPrisonersOnLevels(
        title="Percentage and number of prisoners on each incentive level by recorded disability",
        guidance="This chart will help you tell if there is any imbalance in incentive levels between prisoners with a disability recorded on NOMIS and those without. As the amount of missing data is high, the number of prisoners with unknown information is also provided.",
        labelColumn="Disability",
        wideLabel=true,
        graphId=graphId,
        graphGoogleAnalyticsCategory="Incentive level by disability",
        activeCaseload=user.activeCaseload.id,
        form=forms[graphId],
        csrfToken=csrfToken,
        report=prisonersByDisability
      ) }}

    </section>
  </div>

  <div class="govuk-grid-row">
    <section class="govuk-grid-column-two-thirds govuk-!-margin-bottom-9">

      {% set graphId = "incentive-levels-by-sexual-orientation" %}
      {{ chartPrisonersOnLevels(
        title="Percentage and number of prisoners on each incentive level by sexual orientation",
        guidance="Use this chart to see incentive levels for prisoners of different sexual orientation and compare them to the overall prison levels. Are there any patterns or imbalances that you might want to explore further?",
        labelColumn="Sexual orientation",
        graphId=graphId,
        graphGoogleAnalyticsCategory="Incentive level by sexual orientation",
        activeCaseload=user.activeCaseload.id,
        form=forms[graphId],
        csrfToken=csrfToken,
        report=prisonersBySexualOrientation
      ) }}

    </section>
  </div>

  {% include "../../partials/analytics/disclaimer.njk" %}
{% endblock %}
