{% extends "../graph-layout.njk" %}

{% set graphPageId = "incentive-levels" %}
{% set graphTitle = "Incentive levels" %}
{% set pageTitle = applicationName + " – " + graphTitle %}

{% block content %}
  {{ super() }}

  <h1 class="govuk-heading-xl">
    {{ graphTitle }}
  </h1>

  <div class="govuk-grid-row">
    <section class="govuk-grid-column-two-thirds govuk-!-margin-bottom-9">

      {% set graphId = "incentive-levels-by-location" %}
      {% set report = prisonersOnLevels %}
      {% include "./prisoners-by-location.njk" %}

    </section>
  </div>
{% endblock %}
