{% extends "../../../partials/layout.njk" %}

{% set graphTitle = "Incentive levels" %}
{% set pageTitle = applicationName + " – " + graphTitle %}

{% block content %}
  <h1 class="govuk-heading-xl">
    {{ graphTitle }}
  </h1>

  <div class="govuk-grid-row">
    <section class="govuk-grid-column-two-thirds govuk-!-margin-bottom-9">

      {% set report = prisonersOnLevels %}
      {% include "./prisoners-by-location.njk" %}

    </section>
  </div>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script src="/assets/analyticsGraphs.js"></script>
{% endblock %}
