{% extends "../graph-layout.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set graphPageId = "incentive-levels" %}
{% set graphTitle = "Incentive levels" %}
{% set pageTitle = applicationName + " – " + graphTitle %}

{% block content %}
  {{ super() }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set errorSummary = formsWithErrors["incentive-levels-by-location"].errorSummary %}
      {% if errorSummary %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorSummary
        }) }}
      {% endif %}

      <h1 class="govuk-heading-xl">
        {{ graphTitle }}
      </h1>

    </div>
  </div>

  <div class="govuk-grid-row">
    <section class="govuk-grid-column-two-thirds govuk-!-margin-bottom-9">

      {% set graphId = "incentive-levels-by-location" %}
      {% set report = prisonersOnLevels %}
      {% include "./prisoners-by-location.njk" %}

    </section>
  </div>
{% endblock %}
