{% from "../../../components/dataSource.njk" import dataSource %}

<h2 class="govuk-heading-m">
  Percentage and number of prisoners on each incentive level by wing
</h2>

{{ dataSource(prisonersOnLevels.dataSource, prisonersOnLevels.lastUpdated, {"classes": "govuk-!-margin-bottom-6"}) }}

{% set colourChoices = [
  'app-chart-colour--a', 'app-chart-colour--b', 'app-chart-colour--c', 'app-chart-colour--d', 'app-chart-colour--e'
] %}

<div class="govuk-!-margin-top-8">
  {#
  <a href="?" class="govuk-button govuk-button--secondary govuk-!-margin-right-6">Download chart</a>
  #}

  <div aria-hidden="true" class="app-chart-legend">
    {% for level in prisonersOnLevels.levels %}
      <span class="app-chart-legend__swatch {{ colourChoices[loop.index0] }}">&nbsp;</span>
      <span class="app-chart-legend__label">{{ level }}</span>
    {% endfor %}
  </div>
</div>

<table class="app-chart-table app-chart-table--bars" id="table-incentive-levels-by-location">
  <caption class="govuk-visually-hidden">
    Percentage and number of prisoners on each incentive level by wing
  </caption>

  <thead>
    <tr>
      <th scope="col">Location</th>
      {% for level in prisonersOnLevels.levels %}
        <th scope="col">{{ level }} <span class="govuk-visually-hidden">level</span></th>
      {% endfor %}
      <th aria-hidden="true" scope="col"></th>
    </tr>
  </thead>

  <tbody>
    {% for row in prisonersOnLevels.report %}
      {% set total = row.prisonersOnLevels | sum %}

      <tr>
        <td>
          <strong>
            {% if row.href %}
              <a href="{{ row.href }}">{{ row.location }}</a>
            {% else %}
              {{ row.location }}
            {% endif %}
          </strong>
          <br />
          {{ total | thousands }} <span class="govuk-visually-hidden">prisoners</span>
        </td>
        {% for level in prisonersOnLevels.levels %}
          <td>
            {{ row.prisonersOnLevels[loop.index0] | percentageOf(total) }}
            <br />
            {{ row.prisonersOnLevels[loop.index0] | thousands }} <span class="govuk-visually-hidden">prisoners on {{ level }} level</span>
          </td>
        {% endfor %}
        <td aria-hidden="true" class="app-chart-table__percentage-cell">
          <span class="app-chart-table__axis-midpoint"></span>
          {% for level in prisonersOnLevels.levels %}
            <div class="app-chart-table__percentage-cell-bar {{ colourChoices[loop.index0] }}" data-style-width="{{ row.prisonersOnLevels[loop.index0] | percentageOf(total, false) }}">&nbsp;<br />&nbsp;</div>
          {% endfor %}
        </td>
      </tr>

      {% if loop.first %}
        <tr aria-hidden="true">
          <td colspan="{{ (prisonersOnLevels.levels | length) + 1 }}"></td>
          <td class="app-chart-table__percentage-cell">
            <span class="app-chart-table__axis-midpoint"></span>
          </td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>

  <tfoot aria-hidden="true">
    <tr>
      <td colspan="{{ (prisonersOnLevels.levels | length) + 1 }}"></td>
      <td class="app-chart-table__axis-values">
        <span class="app-chart-table__axis-midpoint"></span>
        <span class="app-chart-table__axis-value app-chart-table__axis-value--min">0</span>
        <span class="app-chart-table__axis-value app-chart-table__axis-value--mid">50</span>
        <span class="app-chart-table__axis-value app-chart-table__axis-value--max">100</span>
      </td>
    </tr>
    <tr>
      <td colspan="{{ (prisonersOnLevels.levels | length) + 1 }}"></td>
      <td>Percentage</td>
    </tr>
  </tfoot>
</table>
