$chart-colour-a: govuk-colour("light-blue"); // miro ~ #5695ca
$chart-colour-b: govuk-colour("dark-blue"); // miro ~ #003078

.app-chart-colour--a {
  background: $chart-colour-a;
}

.app-chart-colour--b {
  background: $chart-colour-b;
}
