.app-chart-table--heatmap {
  @include govuk-media-query($from: desktop) {
    width: 80%;
  }

  th, td {
    width: 20%;

    &:first-child {
      text-align: right;
    }
  }
}

.app-chart-table--heatmap__cell {
  display: inline-block;
  width: 100%;
}
