/** Styles for heatmap-type analytics chart */

// table containing heatmap
.app-chart-table--heatmap {
  @include govuk-media-query($from: desktop) {
    width: 80%;
  }

  th, td {
    width: 20%;

    &:first-child {
      text-align: right;
    }
  }

  &.app-chart-table--heatmap-extra-wide-label {
    @include govuk-media-query($from: desktop) {
      width: 85%;
    }

    $first-column-width: 48%;
    th, td {
      width: calc((100% - $first-column-width) / 4);

      &:first-child {
        width: $first-column-width;
      }
    }
  }
}

// heatmap cell
.app-chart-table--heatmap__cell {
  display: inline-block;
  width: 100%;
}


a.app-chart-table--heatmap__footnotes-link {
  color: $govuk-text-colour;
}

ul.app-chart-table--heatmap__footnotes {
  li {
    list-style-type: '*';
    text-indent: 1ch;
  }
}
