/** Styles for horizontal-stacked-bar-type analytics chart */

// table containing horizontal stacked bar chart
.app-chart-table--bars {
  th, td {
    text-align: right;

    // column containing chart bars
    &:last-child {
      min-width: 38%;
    }
  }
}

.app-chart-table--bars-with-2-columns {
  th, td {
    width: 18%;

    // column containing chart bars
    &:last-child {
      width: 64%;
    }
  }

  &.app-chart-table--bars-wide-label {
    th, td {
      width: 25%;

      // column containing row label (e.g. location or protected characteristic)
      &:first-child {
        width: 25%;
      }

      // column containing chart bars
      &:last-child {
        width: 50%;
      }
    }
  }
}

.app-chart-table--bars-with-3-columns {
  th, td {
    width: 13%;

    // column containing chart bars
    &:last-child {
      width: 61%;
    }
  }

  &.app-chart-table--bars-wide-label {
    th, td {
      width: 17%;

      // column containing row label (e.g. location or protected characteristic)
      &:first-child {
        width: 22%;
      }

      // column containing chart bars
      &:last-child {
        width: 44%;
      }
    }
  }
}

.app-chart-table--bars-with-4-columns {
  th, td {
    width: 12%;

    // column containing chart bars
    &:last-child {
      width: 52%;
    }
  }

  &.app-chart-table--bars-wide-label {
    th, td {
      width: 13%;

      // column containing row label (e.g. location or protected characteristic)
      &:first-child {
        width: 21%;
      }

      // column containing chart bars
      &:last-child {
        width: 40%;
      }
    }
  }
}

.app-chart-table--bars-with-5-columns {
  th, td {
    width: 10%;

    // column containing chart bars
    &:last-child {
      width: 50%;
    }
  }

  &.app-chart-table--bars-wide-label {
    th, td {
      width: 10%;

      // column containing row label (e.g. location or protected characteristic)
      &:first-child {
        width: 21%;
      }

      // column containing chart bars
      &:last-child {
        width: 39%;
      }
    }
  }
}

// cell containing bars
td.app-chart-table__percentage-cell {
  position: relative;
  padding-right: 0;
  border-left: 1px solid $govuk-border-colour;
  border-right: 1px solid $govuk-border-colour;
}

// stacked bar forming the chart
.app-chart-table__percentage-cell-bar {
  position: relative;
  float: left;
  width: 0;
}

// vertical 50% gridline
.app-chart-table__axis-midpoint {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  border-left: 1px solid $govuk-border-colour;
}

// container for horizontal axis values
td.app-chart-table__axis-values {
  position: relative;
  border-left: 1px solid $govuk-border-colour;
  border-right: 1px solid $govuk-border-colour;
}

// values in horizontal axis
.app-chart-table__axis-value {
  display: block;
  position: absolute;
  top: 0;
  padding: 0 $chart-cell-pading;
  @include govuk-font($size: 14);
}

.app-chart-table__axis-value--min {
  left: 0;
}

.app-chart-table__axis-value--mid {
  left: 50%;
  margin-left: -2.5em;
}

.app-chart-table__axis-value--max {
  right: 0;
}
