.app-reviews-table {
  thead {
    th a {
      display: inline-block;
      position: relative;
      padding-right: 20px;
      color: $govuk-link-colour;

      &::before, &::after {
        position: absolute;
        right: 0;
        font-size: 14px;
        line-height: 1;
      }
    }

    th[aria-sort='none'] {
      a::before {
        content: ' ▲';
        top: 0;
        font-size: 12px;
      }
      a::after {
        content: ' ▼';
        top: 12px;
        font-size: 12px;
      }
    }

    th[aria-sort='ascending'] {
      a::before {
        content: ' ▲';
        top: 4px;
      }
    }

    th[aria-sort='descending'] {
      a::after {
        content: ' ▼';
        top: 6px;
      }
    }
  }

  tbody tr:nth-child(even) {
    background-color: govuk-colour('light-grey');
  }

  tbody td:not(:first-child) {
    @include govuk-responsive-padding(6, 'top');
  }
}

.app-review-photo {
  width: 90px;
}

.app-review-overdue {
  color: govuk-colour('red');
}

.app-reviews-pagination {
  display: flex;
  justify-content: end;
}
