$card-border-width: 1px;
$card-border-bottom-width: govuk-spacing(1);
$card-border-hover-color: $govuk-border-colour;
$card-border-color: lighten($card-border-hover-color, 15%);

.dps-card {
  position: relative;
  width: 100%;
  margin-bottom: govuk-spacing(7);
  padding: govuk-spacing(5);
  background: $govuk-body-background-colour;
  border: $card-border-width solid $card-border-color;

  .dps-card__heading {
    margin-top: 0;
    margin-bottom: govuk-spacing(3);
  }

  .dps-card__description {
    margin-bottom: 0;
  }

  &.dps-card--clickable {
    border-bottom-width: $card-border-bottom-width;

    &:hover, &:active {
      cursor: pointer;

      .dps-card__heading a, .dps-card__link {
        color: $govuk-link-hover-colour;
        text-decoration: none;

        &:focus {
          @include govuk-focused-text;
        }
      }
    }

    &:hover {
      border-color: $card-border-hover-color;
    }

    &:active {
      border-color: $card-border-hover-color;
      bottom: -$card-border-width;
    }
  }
}

.dps-card-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: govuk-spacing(3);
  padding: 0;

  @include govuk-media-query($until: desktop) {
    margin-bottom: govuk-spacing(6);
  }

  .dps-card-group__item {
    display: flex;
    list-style-type: none;
    margin-bottom: 0;

    @include govuk-media-query($until: desktop) {
      flex: 0 0 100%;
    }

    .dps-card {
      margin-bottom: govuk-spacing(5);
    }

    @include govuk-media-query($until: desktop) {
      .dps-card {
        margin-bottom: govuk-spacing(3);
      }

      &:last-child .dps-card {
        margin-bottom: 0;
      }
    }
  }
}
