.app-chart-colour--light-blue {
  background: govuk-colour("blue", $variant: "tint-25");
}

.app-chart-colour--dark-blue {
  background: govuk-colour("blue", $variant: "shade-50");
}

.app-chart-colour--turquoise {
  background: govuk-colour("turquoise");
}

.app-chart-colour--yellow {
  background: govuk-colour("yellow");
}

.app-chart-colour--pink {
  background: govuk-colour("pink");
}

.app-chart-colour--mid-grey {
  background: govuk-colour("black", $variant: "tint-80");
}

.app-chart-colour--orange {
  background: govuk-colour("orange"); // not expected to be used: presence in chart indicates unforeseen column set
}

.app-chart-colour--light-green {
  background: govuk-colour("green", $variant: "tint-25"); // not expected to be used: presence in chart indicates unforeseen column set
}

.app-chart-colour--red {
  background: govuk-colour("red"); // not expected to be used: colour palette has ended
}
