.app-chart-legend {
  display: inline-block;
  overflow: hidden;
  @include govuk-font($size: 16);
}

.app-chart-legend__label, .app-chart-legend__swatch {
  display: block;
  float: left;
  height: 100%;
}

.app-chart-legend__label {
  padding: govuk-spacing(1) govuk-spacing(2);

  &:first-child {
    padding-left: 0;
  }
}

.app-chart-legend__swatch {
  width: govuk-spacing(2);
  padding: govuk-spacing(1) 0;
}

.app-chart-legend__swatch--trends {
  width: 30px;
  height: 3px;
  padding: 0;
  margin: 0.8em 0 0 govuk-spacing(2);
  background: govuk-colour("mid-grey");
}
