.horizontal-information {
  @media print, (min-width: #{map-get($govuk-breakpoints, 'tablet')}) {
    padding-bottom: 0;
    display: flex;
  }

  &--with-border {
    padding: govuk-spacing(3) 0;
    border-top: 1px solid $govuk-border-colour;
    border-bottom: 1px solid $govuk-border-colour;
  }

  &__item {
    @media print, (min-width: #{map-get($govuk-breakpoints, 'tablet')}) {
      //flex: 1 1 0;
      padding-right: govuk-spacing(9);

      &--tenth {
        flex-basis: 10%;
      }

      &:last-child {
        padding-right: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.horizontal-form {
  @include govuk-media-query($from: desktop) {
    display: flex;
    flex-flow: row wrap;

    > * {
      margin: govuk-spacing(3) govuk-spacing(3) 0 0;
    }

    > .govuk-button-group {
      align-self: center;

      .govuk-button {
        margin-bottom: $govuk-border-width-form-element;
      }

      .govuk-link {
        margin-bottom: 0;
      }
    }
  }

  @include govuk-media-query($until: desktop) {
    .govuk-select {
      width: 100%;
    }
  }

  &.horizontal-form--with-errors {
    flex-flow: column;
    gap: govuk-spacing(3);

    > .govuk-button-group {
      align-self: flex-start;
    }
  }
}

.horizontal-form__wrapper {
  background-color: govuk-colour("light-grey");
}
