<h2 class="govuk-heading-l" id="about">
  About the Manage incentives charts
</h2>

<p>
  Manage Incentives is a DPS digital service to help users view key data around incentives and behaviour entries for their prison or region.
</p>
<p>
  It contains a series of charts that can be viewed individually or together to help users make sense of the incentives environment.
  The aim is to have local and accessible data on key data points in one place.
  This is to help users identify opportunities to be more effective, less punitive, and fairer to all prisoners – in line with the incentives policy framework.
</p>
<p>
  It’s intended as an information and insights tool to increase understanding and help develop insights to inform decisions.
  It is not a performance tool.
  It should be used alongside other sources of information such as other data, local and operational knowledge, and talking to staff and prisoners, to prompt discussions and inform actions around incentives in your area of interest.
</p>
