{% from "govuk/components/table/macro.njk" import govukTable %}

<h2 class="govuk-heading-l" id="appendix">
  Appendix
</h2>

<h3 class="govuk-heading-m" id="appendix-behaviour-entries">
  Behaviour entries
</h3>
{{ govukTable({
  caption: "Behaviour entry codes",
  captionClasses: "govuk-visually-hidden",
  classes: "app-table--2-even-columns",
  firstCellIsHeader: true,
  head: [
    {text: "Included"},
    {text: "Not included"}
  ],
  rows: [
    [
      {text: "POS, NEG"},
      {text: "ACHIEVEMENTS, ACP, ALERT, CAB, CHAP, CNOTE, COMMS, CUSP, CVM, EARNED_HDC, GEN, IEP ENTRY, INTERVENTION, KA, LAB_ALLOC, MCHECK, MOVED_CELL, NCS, OBSERVE, OMU, OPD, PADVIS, POM, PRISON, REPORT, REPORTS, REQUIREMENT, RESTA, RESTJ, RESTP, ROTL, SC, SENTENCE, SEQ, SUPERVISION, TRANSFER, TRNG"}
    ]
  ]
}) }}
<p>
  No differentiation of case_note_sub_type is made due to data quality issues.
</p>

<h3 class="govuk-heading-m" id="appendix-incentive-levels">
  Incentive levels
</h3>
{{ govukTable({
  caption: "Incentive level codes",
  captionClasses: "govuk-visually-hidden",
  classes: "app-table--2-even-columns",
  firstCellIsHeader: true,
  head: [
    {text: "Incentive level"},
    {text: "NOMIS code (IEP)"}
  ],
  rows: [
    [
      {text: "Entry"},
      {text: "ENT"}
    ],
    [
      {text: "Standard"},
      {text: "STD"}
    ],
    [
      {text: "Enhanced"},
      {text: "ENH"}
    ],
    [
      {text: "Enhanced 2"},
      {text: "EN2"}
    ],
    [
      {text: "Enhanced 3"},
      {text: "EN3"}
    ],
    [
      {text: "New incentive level"},
      {text: "Any new codes added to NOMIS not listed above"}
    ]
  ]
}) }}

<h3 class="govuk-heading-m" id="appendix-protected-characteristic">
  Protected characteristics
</h3>
{{ govukTable({
  caption: "Religion codes",
  captionClasses: "govuk-visually-hidden",
  classes: "app-table--3-even-columns",
  firstCellIsHeader: true,
  head: [
    {text: "Religion"},
    {text: "Sub groups"},
    {text: "NOMIS code"}
  ],
  rows: [
    [
      {text: "Buddhist"},
      {text: "Buddhist"},
      {text: "BUDD"}
    ],
    [
      {text: "Christian"},
      {text: "Adventist, Apostolic, Baptist, Calvinist, Celestial Church of God, Christadelphian, Christian, Christian Scientist, Church In Wales, Church of England (Anglican), Church of Ireland, Church of Norway, Church of Scotland, Congregational, Coptic, Church of Sweden, Dutch Reform Church, Eastern Orthodox, Episcopalian, Ethiopian Orthodox, Evangelical, Gospel, Greek Orthodox, Jehovah’s Witness, Lutheran, Methodist, Mormon, Non Conformist, Oriental Orthodox, Orthodox (Greek/Russian), Pentecostal, Presbyterian, Protestant, Quaker, Roman Catholic, Russian Orthodox, Salvation Army, Satanism, Seventh Day Adventist, Unification, Unitarian, United Reformed, Welsh Independent"},
      {text: "ADV,  APO,   BAPT,  CALV,  CCOG, CE,   CHRST, CHSC,  CINW,  COFE, COFI, COFN,  COFS,  CONG,  COPT, CSW,  EODX,  EORTH, EPIS,  ETHO, EVAN, GOSP,  GROX,  JEHV,  LUTH, METH, MORM,  NONC, OORTH, ORTH, PENT, PRES,  PROT,  QUAK,  RC, RUSS, SALV,  SATN,  SDAY,  UNIF, UNIT, UR, WELS"}
    ],
    [
      {text: "Hindu"},
      {text: "Hindu"},
      {text: "HIND"}
    ],
    [
      {text: "Jewish"},
      {text: "Jewish"},
      {text: "JEW"}
    ],
    [
      {text: "Muslim"},
      {text: "Black Muslim, Muslim, Shia Muslim, Sunni Muslim"},
      {text: "BLAC, MOS, SHIA, SUNI"}
    ],
    [
      {text: "No religion"},
      {text: "Agnostic, Atheist, Humanist, No Religion"},
      {text: "AGNO, ATHE, HUM, NIL"}
    ],
    [
      {text: "Other"},
      {text: "Ba’hai, Druid, Hare Krishna, Jain, Non Permitted Religions, Other, Pagan, Parsi, Rastafarian, Scientologist, Shintoist, Spiritualist, Taoist, Zoroastrian"},
      {text: "BAHA, DRU,  HARE, JAIN, NONP, OTH,  PAG,  PARS, RAST, SCIE, SHIN, SPIR, TAO,  ZORO"}
    ],
    [
      {text: "Sikh"},
      {text: "Sikh"},
      {text: "SIKH"}
    ]
  ]
}) }}
{{ govukTable({
  caption: "Sexual orientation codes",
  captionClasses: "govuk-visually-hidden",
  classes: "app-table--2-even-columns",
  firstCellIsHeader: true,
  head: [
    {text: "Sexual orientation"},
    {text: "NOMIS code (profile_type = SEXO)"}
  ],
  rows: [
    [
      {text: "Bisexual"},
      {text: "BIS"}
    ],
    [
      {text: "Heterosexual"},
      {text: "HET"}
    ],
    [
      {text: "Homosexual"},
      {text: "HOM"}
    ],
    [
      {text: "Other"},
      {text: "OTH"}
    ],
    [
      {text: "Unknown"},
      {text: "ND"}
    ]
  ]
}) }}
{{ govukTable({
  caption: "Disability codes",
  captionClasses: "govuk-visually-hidden",
  classes: "app-table--2-even-columns",
  firstCellIsHeader: true,
  head: [
    {text: "Disability"},
    {text: "NOMIS code (profile_type = DISABILITY)"}
  ],
  rows: [
    [
      {text: "Recorded disability"},
      {text: "YES"}
    ],
    [
      {text: "No recorded disability"},
      {text: "NO"}
    ],
    [
      {text: "Unknown"},
      {text: "Null"}
    ]
  ]
}) }}

<h3 class="govuk-heading-m" id="appendix-regional-groups">
  Regional benchmark groups
</h3>
{{ govukTable({
  caption: "Region codes",
  captionClasses: "govuk-visually-hidden",
  classes: "app-table--2-even-columns",
  firstCellIsHeader: true,
  head: [
    {text: "PGD region"},
    {text: "Prison"}
  ],
  rows: prisonRegionTableRows
}) }}
