{% from "govuk/components/table/macro.njk" import govukTable %}

<h2 class="govuk-heading-l" id="appendix">
  Appendix
</h2>

<h3 class="govuk-heading-m" id="appendix-behaviour-entries">
  Behaviour entries
</h3>
{{ govukTable({
  caption: "Behaviour entry codes",
  captionClasses: "govuk-visually-hidden",
  classes: "app-table--2-even-columns",
  firstCellIsHeader: true,
  head: [
    {text: "Included"},
    {text: "Not included"}
  ],
  rows: [
    [
      {text: "POS, NEG"},
      {text: "ACHIEVEMENTS, ACP, ALERT, CAB, CHAP, CNOTE, COMMS, CUSP, CVM, EARNED_HDC, GEN, IEP ENTRY, INTERVENTION, KA, LAB_ALLOC, MCHECK, MOVED_CELL, NCS, OBSERVE, OMU, OPD, PADVIS, POM, PRISON, REPORT, REPORTS, REQUIREMENT, RESTA, RESTJ, RESTP, ROTL, SC, SENTENCE, SEQ, SUPERVISION, TRANSFER, TRNG"}
    ]
  ]
}) }}
<p>
  No differentiation of case_note_sub_type is made due to data quality issues.
</p>

<h3 class="govuk-heading-m" id="appendix-incentive-levels">
  Incentive levels
</h3>
{{ govukTable({
  caption: "Incentive level codes",
  captionClasses: "govuk-visually-hidden",
  classes: "app-table--2-even-columns",
  firstCellIsHeader: true,
  head: [
    {text: "Incentive level"},
    {text: "NOMIS code (IEP)"}
  ],
  rows: [
    [
      {text: "Entry"},
      {text: "ENT"}
    ],
    [
      {text: "Standard"},
      {text: "STD"}
    ],
    [
      {text: "Enhanced"},
      {text: "ENH"}
    ],
    [
      {text: "Enhanced 2"},
      {text: "EN2"}
    ],
    [
      {text: "Enhanced 3"},
      {text: "EN3"}
    ],
    [
      {text: "New incentive level"},
      {text: "Any new codes added to NOMIS not listed above"}
    ]
  ]
}) }}

<h3 class="govuk-heading-m" id="appendix-protected-characteristic">
  Protected characteristics
</h3>
{{ govukTable({
  caption: "Religion codes",
  captionClasses: "govuk-visually-hidden",
  classes: "app-table--3-even-columns",
  firstCellIsHeader: true,
  head: [
    {text: "Religion, faith and belief"},
    {text: "Sub groups"},
    {text: "NOMIS code"}
  ],
  rows: [
    [
      {text: "Buddhist"},
      {text: "Buddhist"},
      {text: "BUDD"}
    ],
    [
      {text: "Christian"},
      {text: "Christian - Anglican (incl. CofE & CinW), Christian - Baptist, Christian - Methodist, Christian - Oriental Orthodox, Christian - Orthodox, Christian - Other, Christian - Presbyterian, Christian - Roman Catholic, Church of Christ, Scientist, Church of Jesus Christ L D S, Jehovah's Witness, Quaker, Satanist, Seventh Day Adventist"},
      {text: "COFE, BAPT, METH, OORTH, CHRODX, CHRST, PRES, RC, CHSC, CHJCLDS, JEHV, QUAK, SATN, SDAY"}
    ],
    [
      {text: "Hindu"},
      {text: "Hindu/Hare Krishna"},
      {text: "HNDHAR"}
    ],
    [
      {text: "Jewish"},
      {text: "Jewish"},
      {text: "JEW"}
    ],
    [
      {text: "Muslim"},
      {text: "Muslim - Shia, Muslim - Sunni, Muslim - Other"},
      {text: "SHIA, SUNI, MUSOTH"}
    ],
    [
      {text: "No religion"},
      {text: "Agnostic, Atheist, Humanist, No Faith or Belief, Secularism"},
      {text: "AGNO, ATHE, HUM, NIL, SECULR"}
    ],
    [
      {text: "Other"},
      {text: "Baháʼí, Jain, Other Faith or Belief, Pagan/Druid, Rastafari, Scientologist, Shintoist and Taoist, Spiritualist, Zoroastrian"},
      {text: "BAHA, JAIN, OTH, PAGDRU, RAST, SCIE, SHNTAO, SPIR, ZORO"}
    ],
    [
      {text: "Sikh"},
      {text: "Sikh"},
      {text: "SIKH"}
    ]
  ]
}) }}
{{ govukTable({
  caption: "Sexual orientation codes",
  captionClasses: "govuk-visually-hidden",
  classes: "app-table--2-even-columns",
  firstCellIsHeader: true,
  head: [
    {text: "Sexual orientation"},
    {text: "NOMIS code (profile_type = SEXO)"}
  ],
  rows: [
    [
      {text: "Bisexual"},
      {text: "BIS"}
    ],
    [
      {text: "Heterosexual"},
      {text: "HET"}
    ],
    [
      {text: "Homosexual"},
      {text: "HOM"}
    ],
    [
      {text: "Other"},
      {text: "OTH"}
    ],
    [
      {text: "Unknown"},
      {text: "ND"}
    ]
  ]
}) }}
{{ govukTable({
  caption: "Disability codes",
  captionClasses: "govuk-visually-hidden",
  classes: "app-table--2-even-columns",
  firstCellIsHeader: true,
  head: [
    {text: "Disability"},
    {text: "NOMIS code (profile_type = DISABILITY)"}
  ],
  rows: [
    [
      {text: "Recorded disability"},
      {text: "YES"}
    ],
    [
      {text: "No recorded disability"},
      {text: "NO"}
    ],
    [
      {text: "Unknown"},
      {text: "Null"}
    ]
  ]
}) }}

<h3 class="govuk-heading-m" id="appendix-regional-groups">
  Regional benchmark groups
</h3>
{{ govukTable({
  caption: "Region codes",
  captionClasses: "govuk-visually-hidden",
  classes: "app-table--2-even-columns",
  firstCellIsHeader: true,
  head: [
    {text: "PGD region"},
    {text: "Prison"}
  ],
  rows: prisonRegionTableRows
}) }}
