{% from "../../../components/dataSource.njk" import dataSource %}

<h2 class="govuk-heading-m">
  Comparison of positive and negative behaviour entries by wing
</h2>

{{ dataSource("NOMIS", lastUpdated, {"classes": "govuk-!-margin-bottom-6"}) }}

<div>
  <a href="?" class="govuk-button govuk-button--secondary govuk-!-margin-right-6">Download chart</a>

  <div aria-hidden="true" class="app-chart-legend">
    <span class="app-chart-legend__swatch app-chart-colour--a">&nbsp;</span>
    <span class="app-chart-legend__label">Positive</span>
    <span class="app-chart-legend__swatch app-chart-colour--b">&nbsp;</span>
    <span class="app-chart-legend__label">Negative</span>
  </div>
</div>

<table class="app-chart-table app-chart-table--bars">
  <caption class="govuk-visually-hidden">
    Comparison of positive and negative behaviour entries by wing in the last 28 days
  </caption>

  <thead>
    <tr>
      <th scope="col">Location</th>
      <th scope="col">Positive <span class="govuk-visually-hidden">entries</span></th>
      <th scope="col">Negative <span class="govuk-visually-hidden">entries</span></th>
      <th aria-hidden="true" class="govuk-visually-hidden" scope="col">Chart</th>
    </tr>
  </thead>

  <tbody>
    {% for row in behaviourEntries %}
      {% set totalEntries = row.entriesPositive + row.entriesNegative %}
      {% set percentagePositive = row.entriesPositive | percentageOf(totalEntries) %}
      {% set percentageNegative = row.entriesNegative | percentageOf(totalEntries) %}

      <tr>
        <td>
          {% if row.href %}
            <a href="{{ row.href }}">{{ row.location }}</a>
          {% else %}
            {{ row.location }}
          {% endif %}
        </td>
        <td>
          {{ percentagePositive }}
          <br />
          {{ row.entriesPositive | thousands }} <span class="govuk-visually-hidden">entries</span>
        </td>
        <td>
          {{ percentageNegative }}
          <br />
          {{ row.entriesNegative | thousands}} <span class="govuk-visually-hidden">entries</span>
        </td>
        <td aria-hidden="true" class="app-chart-table__percentage-cell">
        <span class="app-chart-table__axis-midpoint"></span>
          <div id="c-pos-{{ loop.index }}" class="app-chart-table__percentage-cell-bar app-chart-colour--a">&nbsp;<br />&nbsp;</div>
          <div id="c-neg-{{ loop.index }}" class="app-chart-table__percentage-cell-bar app-chart-colour--b">&nbsp;<br />&nbsp;</div>
          <style nonce="{{ cspNonce }}">
            #c-pos-{{ loop.index }} { width:{{ percentagePositive }}; }
            #c-neg-{{ loop.index }} { width:{{ percentageNegative }}; }
          </style>
        </td>
      </tr>
    {% endfor %}
  </tbody>

  <tfoot aria-hidden="true">
    <tr>
      <td colspan="3"></td>
      <td class="app-chart-table__axis-values">
        <span class="app-chart-table__axis-midpoint"></span>
        <span class="app-chart-table__axis-value app-chart-table__axis-value--min">0</span>
        <span class="app-chart-table__axis-value app-chart-table__axis-value--mid">50</span>
        <span class="app-chart-table__axis-value app-chart-table__axis-value--max">100</span>
      </td>
    </tr>
    <tr>
      <td colspan="3"></td>
      <td>Percentage</td>
    </tr>
  </tfoot>
</table>
