{% from "../../../components/dataSource.njk" import dataSource %}

<h2 class="govuk-heading-m">
  Comparison of positive and negative behaviour entries by wing
</h2>

{{ dataSource(behaviourEntries.dataSource, behaviourEntries.lastUpdated, {"classes": "govuk-!-margin-bottom-6"}) }}

<div>
  <a href="?" class="govuk-button govuk-button--secondary govuk-!-margin-right-6">Download chart</a>

  <div aria-hidden="true" class="app-chart-legend">
    <span class="app-chart-legend__swatch app-chart-colour--a">&nbsp;</span>
    <span class="app-chart-legend__label">Positive</span>
    <span class="app-chart-legend__swatch app-chart-colour--b">&nbsp;</span>
    <span class="app-chart-legend__label">Negative</span>
  </div>
</div>

<table class="app-chart-table app-chart-table--bars">
  <caption class="govuk-visually-hidden">
    Comparison of positive and negative behaviour entries by wing in the last 28 days
  </caption>

  <thead>
    <tr>
      <th scope="col">Location</th>
      <th scope="col">Positive <span class="govuk-visually-hidden">entries</span></th>
      <th scope="col">Negative <span class="govuk-visually-hidden">entries</span></th>
      <th aria-hidden="true" scope="col"></th>
    </tr>
  </thead>

  <tbody>
    {% for row in behaviourEntries.report %}
      {% set totalEntries = row.entriesPositive + row.entriesNegative %}

      <tr>
        <td>
          <strong>
            {% if row.href %}
              <a href="{{ row.href }}">{{ row.location }}</a>
            {% else %}
              {{ row.location }}
            {% endif %}
          </strong>
          <br />
          {{ totalEntries | thousands }} <span class="govuk-visually-hidden">entries</span>
        </td>
        <td>
          {{ row.entriesPositive | percentageOf(totalEntries) }}
          <br />
          {{ row.entriesPositive | thousands }} <span class="govuk-visually-hidden">entries</span>
        </td>
        <td>
          {{ row.entriesNegative | percentageOf(totalEntries) }}
          <br />
          {{ row.entriesNegative | thousands}} <span class="govuk-visually-hidden">entries</span>
        </td>
        <td aria-hidden="true" class="app-chart-table__percentage-cell">
          <span class="app-chart-table__axis-midpoint"></span>
          <div class="app-chart-table__percentage-cell-bar app-chart-colour--a" data-style-width="{{ row.entriesPositive | percentageOf(totalEntries, false) }}">&nbsp;<br />&nbsp;</div>
          <div class="app-chart-table__percentage-cell-bar app-chart-colour--b" data-style-width="{{ row.entriesNegative | percentageOf(totalEntries, false) }}">&nbsp;<br />&nbsp;</div>
        </td>
      </tr>
    {% endfor %}
  </tbody>

  <tfoot aria-hidden="true">
    <tr>
      <td colspan="3"></td>
      <td class="app-chart-table__axis-values">
        <span class="app-chart-table__axis-midpoint"></span>
        <span class="app-chart-table__axis-value app-chart-table__axis-value--min">0</span>
        <span class="app-chart-table__axis-value app-chart-table__axis-value--mid">50</span>
        <span class="app-chart-table__axis-value app-chart-table__axis-value--max">100</span>
      </td>
    </tr>
    <tr>
      <td colspan="3"></td>
      <td>Percentage</td>
    </tr>
  </tfoot>
</table>
