{% extends "../../../partials/analytics/layout.njk" %}

{% set graphPageId = "behaviour-entries" %}
{% set graphTitle = "Behaviour entries" %}
{% set pageTitle = applicationName + " – " + graphTitle %}

{% block content %}
  {{ super() }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "../../../partials/messages.njk" %}

      {% include "../../../partials/formErrorSummary.njk" %}

      <h1 class="govuk-heading-xl">
        {{ graphTitle }}
      </h1>

    </div>
  </div>

  <div class="govuk-grid-row">
    <section class="govuk-grid-column-one-half govuk-!-margin-bottom-9">

      {% set graphId = "entries-by-location" %}
      {% set chartFeedbackForm = forms[graphId] %}
      {% set report = behaviourEntries %}
      {% include "./entries-by-location.njk" %}

    </section>
    <section class="govuk-grid-column-one-half govuk-!-margin-bottom-9">

      {% set graphId = "prisoners-with-entries-by-location" %}
      {% set chartFeedbackForm = forms[graphId] %}
      {% set report = prisonersWithEntries %}
      {% include "./prisoners-with-entries-by-location.njk" %}

    </section>
  </div>

  {% if featureFlags.showAnalyticsTrends %}
    <div class="govuk-grid-row">
      <section class="govuk-grid-column-two-thirds govuk-!-margin-bottom-9">

        {% set chartTitle = "Comparison of positive and negative behaviour entries in the establishment in the last 12 months" %}
        {% set chartGuidance = "Use this chart to compare the numbers of positive, negative and total entries with previous months. What do the number of entries and the positive-negative ratios tell you about the incentives policy and the behaviour of prisoners? Be aware of any significant population changes." %}
        {% set graphId = "trends-entries" %}
        {% set graphGoogleAnalyticsCategory = "Behaviour entry trends" %}
        {% set chartFeedbackForm = forms[graphId] %}
        {% include "../../../partials/analytics/chartTrends.njk" %}

      </section>
    </div>
  {% endif %}

  {% include "../../../partials/analytics/disclaimer.njk" %}
{% endblock %}
