{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " – About" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">About</h1>
    </div>
  </div>
{% endblock %}
