{% extends "../partials/layout.njk" %}

{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
<h1 class="govuk-heading-l">{{title}}</h1>
<form method="POST" id="changeLocation">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
  {{ govukSelect({
          id: "changeLocationSelect",
          name: "locationPrefix",
          label: {
              text: "Select a location"
          },
          items: options
      }) }}
  {{ govukButton({
      text: "Continue",
      preventDoubleClick: true
    }) }}
</form>
{% endblock %}
