{% extends "../partials/layout.njk" %}

{% from "../components/card/card.njk" import card %}

{% set pageTitle = applicationName + " – Home" %}

{% block content %}

  <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
    {{ applicationName }}
  </h1>

  <ul class="govuk-grid-row card-group">
    <li class="govuk-grid-column-one-third card-group__item">
      {% if featureFlags.hideDaysColumnsInIncentivesTable %}
        {% set cardHeading = 'View incentive levels and behaviour entries' %}
        {% set cardDescription = 'See incentive levels and behaviour entries by residential location.' %}
      {% else %}
        {% set cardHeading = 'View review dates and incentive information' %}
        {% set cardDescription = 'See review dates, incentive levels and behaviour entries by residential location.' %}
      {% endif %}

      {{ card({
        "href": "/select-location",
        "clickable": "true",
        "heading": cardHeading,
        "description": cardDescription,
        "id": "incentive-information"
      }) }}
    </li>
    {% if showAnalytics %}
      <li class="govuk-grid-column-one-third card-group__item">
        {{ card({
          "href": "/analytics/incentive-levels",
          "clickable": "true",
          "heading": "Incentive level and behaviour entry data",
          "description": "See incentive level and behaviour entry data visualisations.",
          "id": "incentive-analytics"
        }) }}
      </li>
    {% endif %}
  </ul>

{% endblock %}
