{% extends "../partials/layout.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = applicationName + " – " + incentiveLevel.name + " level" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

      {% include "../partials/messages.njk" %}
      {% include "../partials/formErrorSummary.njk" %}

      <h1 class="govuk-heading-xl" data-qa="incentive-levels-form">
        {% if incentiveLevel %}
          Change incentive level details
        {% else %}
          Create a new incentive level
        {% endif %}
      </h1>

      {{ govukBackLink({
        text: "Back",
        href: "/incentive-levels/view/" + incentiveLevel.code if incentiveLevel else "/incentive-levels"
      }) }}

      <form id="form-{{ form.formId }}" method="post" novalidate>

        {% if not incentiveLevel %}
          {% set fieldId = "code" %}
          {% set field = form.getField(fieldId) %}
          {{ govukInput({
            label: { text: "Code" },
            hint: { text: "Only used internally, normally 3 capital letters" },
            classes: "govuk-input--width-3",
            id: form.formId + "-" + fieldId,
            name: fieldId,
            value: field.value,
            spellcheck: false,
            errorMessage: { text: field.error } if field.error else undefined
          }) }}
        {% endif %}

        {% set fieldId = "name" %}
        {% set field = form.getField(fieldId) %}
        {{ govukInput({
          label: { text: "Name" },
          classes: "govuk-input--width-10",
          id: form.formId + "-" + fieldId,
          name: fieldId,
          value: field.value,
          spellcheck: true,
          errorMessage: { text: field.error } if field.error else undefined
        }) }}

        {% set fieldId = "availability" %}
        {% set field = form.getField(fieldId) %}
        {{ govukRadios({
          idPrefix: form.formId + "-" + fieldId,
          name: fieldId,
          fieldset: {
            legend: { text: "Availability" }
          },
          items: [
            {
              text: "Required in all prisons",
              value: "required",
              checked: field.value === "required"
            },
            {
              text: "Available for prisons to use",
              value: "active",
              checked: field.value === "active"
            },
            {
              text: "Disabled",
              value: "inactive",
              checked: field.value === "inactive"
            }
          ],
          errorMessage: { text: field.error } if field.error else undefined
        }) }}

        <input type="hidden" name="formId" value="{{ form.formId }}" />
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        {{ govukButton({
          text: "Save",
          preventDoubleClick: true
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
