{% extends "../partials/layout.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}

{% set pageTitle = applicationName + " - Incentives information" %}

{% block content %}

  <main class="app-container govuk-body govuk-width-container">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
        Incentive information
    </h1>

    <p>
        <span class='govuk-!-margin-right-1'>{{ entries.locationDescription }}</span>
        <a href="/select-location" class="govuk-link">Select another location</a>
    </p>

    <div class="govuk-grid-row govuk-!-margin-top-8 govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-l">Incentive levels</h2>
        </div>
        {% for level in entries.incentiveLevelSummary %}
            <div class="govuk-grid-column-one-quarter" data-qa="number-at-level-{{ level.level }}">
                <p class="govuk-body govuk-!-margin-bottom-2">{{ level.levelDescription }}</p>
                <span class="govuk-body govuk-!-font-size-36 govuk-!-font-weight-bold">
                    {{ level.numberAtThisLevel | default(0) }}
                </span>
            </div>
        {% endfor %}
    </div>

    <p class="govuk-!-margin-top-9"></p>
    <h2 class="govuk-heading-l govuk-!-margin-top-9">
        Review dates and behaviour entries in the last 3 months
    </h2>

    {% macro table(level) %}
        {% set commonHeader = [
            {
                text: ""
            },
            {
                text: "Name and prison number",
                attributes: {
                    "aria-sort": "ascending"
                }
            },
            {
                text: "Days on level",
                attributes: {
                    "aria-sort": "none"
                }
            },
            {
                text: "Days since last review",
                attributes: {
                    "aria-sort": "none"
                }
            },
            {
                text: "Positive behaviours",
                attributes: {
                    "aria-sort": "none"
                }
            },
            {
                text: "Incentive encouragements",
                attributes: {
                    "aria-sort": "none"
                }
            },
            {
                text: "Negative behaviours",
                attributes: {
                    "aria-sort": "none"
                }
            },
            {
                text: "Incentive warnings",
                attributes: {
                    "aria-sort": "none"
                }
            },
            {
                text: "Proven adjudications",
                attributes: {
                    "aria-sort": "none"
                }
            }
        ] %}

        {% set rows = [] %}
        {% for prisoner in level.prisonerBehaviours %}
            {% if prisoner.imageId > 0 %}
                {% set imageUrl = '/prisoner-images/' + prisoner.imageId + '.jpeg' %}
            {% else %}
                {% set imageUrl = '/assets/images/prisoner.jpeg' %}
            {% endif %}

            {% set _ = rows.push([
            {
                html: '<img src="' + imageUrl + '" alt="' + prisoner.lastName + ', ' + prisoner.firstName + '\'s photo" width="90" />'
            },
            {
                html: '<a href="' + dpsHome + '/prisoner/' + prisoner.prisonerNumber + '/case-notes?fromDate=' + threeMonthsAgo | dateParam + '" class="govuk-link">' + prisoner.lastName + ', ' + prisoner.firstName + '<br>' + prisoner.prisonerNumber + '</a>',
                attributes: {
                    "data-sort-value": prisoner.lastName + prisoner.firstName
                }
            },
            {
                html: '<a href="' + dpsHome + '/prisoner/' + prisoner.prisonerNumber + '/incentive-level-details" class="govuk-link">' + prisoner.daysOnLevel + '</a>',
                attributes: {
                    "data-sort-value": prisoner.daysOnLevel
                }
            },
            {
                html: '<a href="' + dpsHome + '/prisoner/' + prisoner.prisonerNumber + '/incentive-level-details" class="govuk-link">' + prisoner.daysSinceLastReview + '</a>',
                attributes: {
                    "data-sort-value": prisoner.daysSinceLastReview
                }
            },
            {
                html: '<a href="' + dpsHome + '/prisoner/' + prisoner.prisonerNumber + '/case-notes?type=POS&fromDate=' + threeMonthsAgo | dateParam + '" class="govuk-link">' + prisoner.positiveBehaviours + '</a>',
                attributes: {
                    "data-sort-value": prisoner.positiveBehaviours
                }
            },
            {
                html: '<a href="' + dpsHome + '/prisoner/' + prisoner.prisonerNumber + '/case-notes?type=POS&subType=IEP_ENC&fromDate=' + threeMonthsAgo | dateParam + '" class="govuk-link">' + prisoner.incentiveEncouragements + '</a>',
                attributes: {
                    "data-sort-value": prisoner.incentiveEncouragements
                }
            },
            {
                html: '<a href="' + dpsHome + '/prisoner/' + prisoner.prisonerNumber + '/case-notes?type=NEG&fromDate=' + threeMonthsAgo | dateParam + '" class="govuk-link">' + prisoner.negativeBehaviours + '</a>',
                attributes: {
                    "data-sort-value": prisoner.negativeBehaviours
                }
            },
            {
                html: '<a href="' + dpsHome + '/prisoner/' + prisoner.prisonerNumber + '/case-notes?type=NEG&subType=IEP_WARN&fromDate=' + threeMonthsAgo | dateParam + '" class="govuk-link">' + prisoner.incentiveWarnings + '</a>',
                attributes: {
                    "data-sort-value": prisoner.incentiveWarnings
                }
            },
            {
                html: '<a href="' + dpsHome + '/prisoner/' + prisoner.prisonerNumber + '/adjudications?finding=PROVED" class="govuk-link">' + prisoner.provenAdjudications + '</a>',
                attributes: {
                    "data-sort-value": prisoner.provenAdjudications
                }
            }
            ]) %}
        {% endfor %}

        <h2 class="govuk-heading-l">{{ level.levelDescription }}</h2>
        {{ govukTable({
            attributes: {
                'data-module': 'moj-sortable-table'
            },
            classes: 'govuk-table--striped',
            head: commonHeader,
            rows: rows
        }) }}
    {% endmacro %}

    {% set tabsItems = [] %}
    {% for level in entries.incentiveLevelSummary %}
        {% set _ = tabsItems.push(
            {
                label: level.levelDescription + ' (' + level.numberAtThisLevel + ')',
                id: level.level,
                panel: { html: table(level) }
            }
        ) %}
    {% endfor %}

    {{ govukTabs({
        items: tabsItems
    }) }}

  </main>

{% endblock %}
