{% extends "../partials/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% set pageTitle = applicationName + " – Incentive levels" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

      {% include "../partials/messages.njk" %}

      <h1 class="govuk-heading-xl" data-qa="incentive-levels-list">
        Global incentive level admin
      </h1>

      {% set rows = [] %}

      {% for incentiveLevel in incentiveLevels %}
        {% set statusHtml %}
          {% if incentiveLevel.active %}
            {{ govukTag({ text: "Active" }) }}
          {% else %}
            {{ govukTag({ text: "Inactive", classes: "govuk-tag--grey" }) }}
          {% endif %}
        {% endset %}

        {% set changeAction -%}
          {% if not incentiveLevel.required %}
            <a href="/incentive-levels/status/{{ incentiveLevel.code }}">Change status</a>
          {% endif %}
        {%- endset %}

        {% set row = [
          { text: incentiveLevel.name },
          { text: incentiveLevel.code },
          { html: statusHtml }
        ] %}
        {% if canChangeStatus %}
          {% set row = (row.push(
            { html: changeAction, classes: "govuk-!-text-align-right" }
          ), row) %}
        {% endif %}

        {% set rows = (rows.push(row), rows) %}
      {% endfor %}

      {% set head = [
        { text: "Incentive level" },
        { text: "Code" },
        { text: "Status" }
      ] %}
      {% if canChangeStatus %}
        {% set head = (head.push(
          { text: "Action", classes: "govuk-!-text-align-right" }
        ), head) %}
      {% endif %}

      {{ govukTable({
        caption: "Incentive levels across all establishments",
        captionClasses: "govuk-table__caption--m",
        classes: "govuk-!-margin-top-8",
        attributes: { "data-qa": "incentive-levels-table" },
        head: head,
        rows: rows
      }) }}

      <div class="govuk-button-group govuk-!-margin-top-8">
        {{ govukButton({
          text: "Create a new incentive level",
          element: "a",
          href: "/incentive-levels/add"
        }) }}
      </div>

    </div>
  </div>
{% endblock %}
