{% extends "../partials/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = applicationName + " – Change details for " + incentiveLevel.name %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

      {% include "../partials/messages.njk" %}
      {% include "../partials/formErrorSummary.njk" %}

      <h1 class="govuk-heading-xl" data-qa="incentive-levels-form">
        Change details for {{ incentiveLevel.name }}
      </h1>

      <form id="form-{{ form.formId }}" method="post" novalidate>

        {% set fieldId = "name" %}
        {% set field = form.getField(fieldId) %}
        {{ govukInput({
          label: { text: "Name" },
          classes: "govuk-input--width-10",
          id: form.formId + "-" + fieldId,
          name: fieldId,
          value: field.value,
          spellcheck: true,
          errorMessage: { text: field.error } if field.error else undefined
        }) }}

        {% set fieldId = "availability" %}
        {% set field = form.getField(fieldId) %}
        {{ govukRadios({
          idPrefix: form.formId + "-" + fieldId,
          name: fieldId,
          fieldset: {
            legend: { text: "Availability" }
          },
          items: [
            {
              text: "Mandatory in all prisons",
              value: "required",
              checked: field.value === "required"
            },
            {
              text: "Available for prisons to use",
              value: "active",
              checked: field.value === "active"
            },
            {
              text: "Not available for prisons to use",
              value: "inactive",
              checked: field.value === "inactive"
            }
          ],
          errorMessage: { text: field.error } if field.error else undefined
        }) }}

        <input type="hidden" name="formId" value="{{ form.formId }}" />
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        <div class="govuk-button-group govuk-!-margin-top-8">
          {{ govukButton({
            text: "Save",
            preventDoubleClick: true
          }) }}

          {{ govukButton({
            text: "Cancel",
            classes: "govuk-button--secondary",
            element: "a",
            href: "/incentive-levels/view/" + incentiveLevel.code
          }) }}
        </div>

      </form>

    </div>
  </div>
{% endblock %}
