{% extends "../partials/layout.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}

{% set pageTitle = applicationName + " - Home" %}

{% block content %}

  <main class="app-container govuk-body">
    <h1>{{ entries.locationDescription }} incentive levels and behaviours</h1>

    <p>
        <a href="/select-another-location" class="govuk-link">Select another location</a>
    </p>
    <div class="govuk-grid-row govuk-!-margin-top-8 govuk-grid-row">
        {% for level in entries.incentiveLevelSummary %}
            <div class="govuk-grid-column-one-quarter">
                <p class="govuk-body govuk-!-margin-bottom-2">{{ level.levelDescription }}</p>
                <span class="govuk-body govuk-!-font-size-36 govuk-!-font-weight-bold" data-qa="unaccountedfor">
                    {{ level.numberAtThisLevel | default(0) }}
                </span>
            </div>
        {% endfor %}
    </div>

    <p class="govuk-!-margin-top-9"></p>
    <h2 class="govuk-heading-l govuk-!-margin-top-9">Behaviour entries since last review</h2>

    {% macro table(level) %}
        {% set commonHeader = [
            {
                text: ""
            },
            {
                text: "Name and prison number"
            },
            {
                text: "Days on level"
            },
            {
                text: "Days since last review"
            },
            {
                text: "All positive behaviours"
            },
            {
                text: "Incentive encouragements"
            },
            {
                text: "All negative behaviours"
            },
            {
                text: "Incentive warnings"
            },
            {
                text: "Proven adjudications"
            }
        ] %}

        {% set rows = [] %}
        {% for prisoner in level.prisonerBehaviours %}
            {% set _ = rows.push([
            { html: '<img src="/assets/images/prisoner.jpeg" alt="{{ prisoner.fullName }}" width="90" />' },
            { html: '<a href="' + dpsHome + '/prisoner/' + prisoner.prisonerNumber + '" class="govuk-link">' + prisoner.lastName + ', ' + prisoner.firstName + ' (' + prisoner.prisonerNumber + ') </a>' },
            { text: prisoner.daysOnLevel },
            { text: prisoner.daysSinceLastReview },
            { text: prisoner.positiveBehaviours },
            { text: prisoner.incentiveEncouragements },
            { text: prisoner.negativeBehaviours },
            { text: prisoner.incentiveWarnings },
            { text: prisoner.provenAdjudications }
            ]) %}
        {% endfor %}

        <h2 class="govuk-heading-l">{{ level.levelDescription }}</h2>
        {{ govukTable({
            head: commonHeader,
            rows: rows
        }) }}
    {% endmacro %}

    {% set tabsItems = [] %}
    {% for level in entries.incentiveLevelSummary %}
        {% set _ = tabsItems.push(
            {
                label: level.levelDescription,
                id: level.level,
                panel: { html: table(level) }
            }
        ) %}
    {% endfor %}

    {{ govukTabs({
        items: tabsItems
    }) }}

  </main>

{% endblock %}
