{% extends "../partials/layout.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set pageTitle = applicationName + " – " + incentiveLevel.name + " level" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

      {% include "../partials/messages.njk" %}

      <h1 class="govuk-heading-xl" data-qa="incentive-levels-detail">
        {{ incentiveLevel.name }} level
      </h1>

      {{ govukBackLink({
        text: "Back",
        href: "/incentive-levels"
      }) }}

      {% if incentiveLevel.required %}
        {% set availability = "Required in all prisons" %}
      {% elif incentiveLevel.active %}
        {% set availability = "Available for prisons to use" %}
      {% else %}
        {% set availability = "Disabled" %}
      {% endif %}

      {{ govukSummaryList({
        rows: [
          {
            key: { text: "Code" },
            value: { text: incentiveLevel.code }
          },
          {
            key: { text: "Name" },
            value: { text: incentiveLevel.name }
          },
          {
            key: { text: "Description" },
            value: { text: incentiveLevel.description }
          },
          {
            key: { text: "Availability" },
            value: { text: availability }
          }
        ]
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Edit details",
          element: "a",
          href: "/incentive-levels/edit/" + incentiveLevel.code
        }) }}

        {% if not incentiveLevel.active %}

          {{ govukButton({
            text: "Allow prisons to use this level",
            element: "a",
            href: "/incentive-levels/activate/" + incentiveLevel.code
          }) }}

        {% elif not incentiveLevel.required %}

          {{ govukButton({
            text: "Disable this level",
            classes: "govuk-button--warning",
            element: "a",
            href: "/incentive-levels/deactivate/" + incentiveLevel.code
          }) }}

        {% endif %}
      </div>

    </div>
  </div>
{% endblock %}
