{% extends "../partials/layout.njk" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "../components/datepicker/marco.njk" import hmppsDatepicker %}

{% set pageTitle = applicationName + " – Incentive details" %}

{% block content %}
  {% if errors.length > 0 %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors,
      attributes: { 'data-qa-errors': true }
    }) }}
  {% endif %}

  <h1 class="govuk-heading-l">Incentive level details for {{ prisonerName }}</h1>

  <div class="horizontal-information govuk-!-margin-bottom-3">
    <div class="horizontal-information__item">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Current incentive level</h3>
      <p class="govuk-body" data-test="current-iep">{{ currentIncentiveLevel }}</p>
    </div>
    <div class="horizontal-information__item">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Next review due by</h3>
      <p class="govuk-body" data-test="next-review-date">
        {{ nextReviewDate }}
        {% if reviewDaysOverdue > 0 %}
          <br/>
          <span class="highlight highlight--alert" data-test="next-review-overdue">
            {{ reviewDaysOverdue }}
            {% if reviewDaysOverdue == 1 -%}
              day
            {%- else -%}
              days
            {%- endif %} overdue
          </span>
        {% endif %}
      </p>
    </div>
    {% if userCanUpdateIEP %}

        <div class="dps-mini-profile-header--align-right">
          <p class="hmpps-action-button govuk-!-display-none-print" data-test="change-incentive-level-link">
            <img src="/assets/images/iconRecordIncentiveLevel.svg" alt="Icon representing an incentive level" aria-hidden="true" />
            <a href= {{  recordIncentiveUrl }}>
              Record incentive level
            </a>
          </p>
        </div>
    {% endif %}
  </div>

  {% if results != null %}
    <div class="govuk-!-padding-3 govuk-!-margin-bottom-5 form-background">
      <h2 class="govuk-heading-m">View by</h2>
      <form class="horizontal-form govuk-body govuk-!-margin-bottom-3" method="GET">
        {{ govukSelect({
          name: 'agencyId',
          id: 'agencyId',
          label: {
            text: 'Establishment'
          },
          items: establishments | addDefaultSelectedValue('All', true) | setSelected(formValues.agencyId),
          attributes: {
            "data-test": 'establishment-select'
          }
        }) }}

        {{ govukSelect({
          name: 'incentiveLevel',
          id: 'incentiveLevel',
          label: {
            text: 'Incentive level'
          },
          items: levels  | addDefaultSelectedValue('All', true) | setSelected(formValues.incentiveLevel),
          attributes: {
            "data-test": 'incentive-level-select'
          }
        }) }}

        {{ hmppsDatepicker({
          id: 'fromDate',
          name: 'fromDate',
          label: {
            text: 'From'
          },
          classes: 'hmpps-datepicker datePickerWithinHorizontalForm',
          value: formValues.fromDate,
          maxDate: maxDate,
          errorMessage: errors | findError('fromDate'),
          dataQa: 'fromDate'
        }) }}

        {{ hmppsDatepicker({
          id: 'toDate',
          name: 'toDate',
          label: {
            text: 'To'
          },
          classes: 'hmpps-datepicker datePickerWithinHorizontalForm',
          value: formValues.toDate,
          maxDate: maxDate,
          errorMessage: errors | findError('toDate'),
          dataQa: 'toDate'
        }) }}

        {{ govukButton({
          text: "View",
          preventDoubleClick: true,
          type: "submit",
          attributes: {
            "data-test": 'filter-submit'
          }
        }) }}

        <a href="?" class="govuk-link govuk-link--no-visited-state">Clear</a>
      </form>
    </div>
  {% endif %}

  {% if results == null or results.length == 0 %}
    <p class="govuk-body" data-test="no-incentive-level-history-message">{{ noResultsFoundMessage }}</p>
  {% else %}
    {% set resultsRows = [] %}

    {% for result in results %}
      {% set resultsRows = (resultsRows.push([
        { text: result.formattedTime },
        { text: result.iepLevel },
        { html: result.comments | showDefault('Not entered'), classes: 'govuk-input--width-4 incentive-details-reason-text' },
        { text: result.iepEstablishment },
        { text: result.iepStaffMember | showDefault('Not entered') }
      ]), resultsRows) %}
    {% endfor %}

    <h3 class="govuk-heading-l">Incentive level history</h3>

    {{ govukTable({
      head: [
        {
          text: "Date and time"
        },
        {
          text: "Incentive level"
        },
        {
          text: "Reason for recording"
        },
        {
          text: "Establishment"
        },
        {
          text: "Recorded by"
        }
      ],
      rows: resultsRows,
      attributes: {
        "data-test": 'incentive-level-history'
      }
    }) }}
  {% endif %}


{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script src="/assets/date-picker.js"></script>
{% endblock bodyEnd %}
