{% extends "../partials/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = applicationName + " – Add " + incentiveLevel.name %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

      {% include "../partials/messages.njk" %}
      {% include "../partials/formErrorSummary.njk" %}

      <h1 class="govuk-heading-xl" data-qa="prison-incentive-levels-next-add">
        Add {{ incentiveLevel.name }}
      </h1>

      <form id="form-{{ form.formId }}" method="post" novalidate>
        <input type="hidden" name="levelCode" value="{{ incentiveLevel.code }}" />

        {% include "../partials/prisonIncentiveLevelEditPartial.njk" %}

        <input type="hidden" name="formId" value="{{ form.formId }}" />
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        <div class="govuk-button-group govuk-!-margin-top-6">
          {{ govukButton({
            text: "Save",
            preventDoubleClick: true
          }) }}

          <a href="/prison-incentive-levels" class="govuk-link">
            Cancel
          </a>
        </div>

      </form>

    </div>
  </div>
{% endblock %}
