{% extends "../partials/layout.njk" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "components/datepicker/marco.njk" import hmppsDatepicker %}

{% set pageTitle = applicationName + " – Incentive details" %}

{% block content %}
  {% if errors.length > 0 %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors,
      attributes: { 'data-qa-errors': true }
    }) }}
  {% endif %}

  <h1 class="govuk-heading-l">{{ prisonerName | possessive }} incentive details</h1>

  <div class="horizontal-information govuk-!-margin-bottom-3">
    <div class="horizontal-information__item">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Current incentive level</h3>
      <p data-test="current-iep">{{ currentIncentiveLevel }}</p>
    </div>
    <div class="horizontal-information__item">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Next review due by</h3>
      <p data-test="next-review-date">
        {{ nextReviewDate }}
        {% if reviewDaysOverdue > 0 %}
          <br/>
          <span class="highlight highlight--alert" data-test="next-review-overdue">
            {{ reviewDaysOverdue }}
            {% if reviewDaysOverdue == 1 -%}
              day
            {%- else -%}
              days
            {%- endif %} overdue
          </span>
        {% endif %}
      </p>
    </div>

    {% if userCanUpdateIEP %}
        <div class="dps-mini-profile-header--align-right">
          <p class="hmpps-action-button govuk-!-display-none-print" data-test="change-incentive-level-link">
            <img src="/assets/images/iconRecordIncentiveLevel.svg" alt="Icon representing an incentive level" aria-hidden="true" />
            <a href= {{  recordIncentiveUrl }}>
              Record incentive level
            </a>
          </p>
        </div>
    {% endif %}
  </div>

  <h3 class="govuk-heading-l govuk-!-margin-top-8">Incentive level history</h3>

  {% if results != null %}
    <div class="horizontal-form__wrapper govuk-!-padding-3 govuk-!-margin-bottom-5">
      <h2 class="govuk-heading-m">View by</h2>

      <form class="horizontal-form {% if errors.length > 0 %}horizontal-form--with-errors{% endif %} govuk-!-margin-bottom-3" method="GET">
        {{ govukSelect({
          name: 'agencyId',
          id: 'agencyId',
          label: {
            text: 'Establishment'
          },
          items: establishments | govukSelectInsertDefault('All') | govukSelectSetSelected(formValues.agencyId),
          attributes: {
            "data-test": 'establishment-select'
          }
        }) }}

        {{ govukSelect({
          name: 'incentiveLevel',
          id: 'incentiveLevel',
          label: {
            text: 'Incentive level'
          },
          items: levels  | govukSelectInsertDefault('All') | govukSelectSetSelected(formValues.incentiveLevel),
          attributes: {
            "data-test": 'incentive-level-select'
          }
        }) }}

        {{ hmppsDatepicker({
          id: 'fromDate',
          name: 'fromDate',
          classes: "hmpps-datepicker--fixed-width",
          label: {
            text: 'Date from'
          },
          value: formValues.fromDate,
          maxDate: maxDate,
          errorMessage: errors | findFieldInErrorSummary('fromDate'),
          dataQa: 'fromDate'
        }) }}

        {{ hmppsDatepicker({
          id: 'toDate',
          name: 'toDate',
          classes: "hmpps-datepicker--fixed-width",
          label: {
            text: 'Date to'
          },
          value: formValues.toDate,
          maxDate: maxDate,
          errorMessage: errors | findFieldInErrorSummary('toDate'),
          dataQa: 'toDate'
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "View",
            preventDoubleClick: true,
            type: "submit",
            attributes: {
              "data-test": 'filter-submit'
            }
          }) }}

          {% if not noFiltersSupplied %}
            <a href="?" class="govuk-link govuk-link--no-visited-state" id="clearFilter">Clear</a>
          {% endif %}
        </div>
      </form>
    </div>
  {% endif %}

  {% if results == null or results.length == 0 %}
    <p data-test="no-incentive-level-history-message">{{ noResultsFoundMessage }}</p>
  {% else %}
    {% set resultsRows = [] %}

    {% for result in results %}
      {% set resultsRows = (resultsRows.push([
        { text: result.formattedTime },
        { text: result.iepLevel },
        { html: result.comments or 'Not entered', classes: 'govuk-input--width-4 incentive-details-reason-text' },
        { text: result.iepEstablishment },
        { text: result.iepStaffMember or 'Not entered' }
      ]), resultsRows) %}
    {% endfor %}

    {{ govukTable({
      head: [
        {
          text: "Date and time"
        },
        {
          text: "Incentive level"
        },
        {
          text: "Reason for recording"
        },
        {
          text: "Establishment"
        },
        {
          text: "Recorded by"
        }
      ],
      rows: resultsRows,
      attributes: {
        "data-test": 'incentive-level-history'
      }
    }) }}
  {% endif %}


{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script src="/assets/date-picker.js"></script>
{% endblock bodyEnd %}
