{% extends "../partials/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% set pageTitle = applicationName + " – Incentive level settings" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

      {% include "../partials/messages.njk" %}

      <h1 class="govuk-heading-xl" data-qa="prison-incentive-levels-list">
        Incentive level settings
      </h1>
      <p>
        Use this page to edit the incentive levels that apply across your establishment.
      </p>
      <p>
        Select View settings to edit spend and transfer limits and visit allowances for each level.
        You can also set the default level for new prisoners.
      </p>

      {% set rows = [] %}

      {% for prisonIncentiveLevel in prisonIncentiveLevels %}
        {% set tags -%}
          {% if prisonIncentiveLevel.defaultOnAdmission %}
            {% set tagHtml %}
              Default <span class="govuk-visually-hidden">level for new prisoners</span>
            {% endset %}
            {{ govukTag({ html: tagHtml }) }}
          {% endif %}
        {%- endset %}

        {% set viewAction -%}
          <a href="/prison-incentive-levels/view/{{ prisonIncentiveLevel.levelCode }}">View settings</a>
        {%- endset %}

        {% set removeAction -%}
          {% if not prisonIncentiveLevel.levelRequired and not prisonIncentiveLevel.defaultOnAdmission %}
            <a href="/prison-incentive-levels/remove/{{ prisonIncentiveLevel.levelCode }}">Remove level</a>
          {% endif %}
        {%- endset %}

        {% set row = [
          { text: prisonIncentiveLevel.levelName },
          { html: tags },
          { html: viewAction, classes: "govuk-!-text-align-right" }
        ] %}

        {% if canRemoveLevel %}
          {% set row = (row.push(
            { html: removeAction, classes: "govuk-!-text-align-right" }
          ), row) %}
        {% endif %}

        {% set rows = (rows.push(row), rows) %}
      {% endfor %}

      {{ govukTable({
        caption: "Incentive levels at your establishment",
        captionClasses: "govuk-table__caption--m",
        classes: "govuk-!-margin-top-8",
        attributes: { "data-qa": "prison-incentive-levels-table" },
        firstCellIsHeader: true,
        rows: rows
      }) }}

      {% if addLevelUrl %}
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Add a new incentive level",
            element: "a",
            href: addLevelUrl
          }) }}
        </div>
      {% endif %}

    </div>
  </div>
{% endblock %}
