{% extends "../partials/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set pageTitle = applicationName + " – Incentive level recorded" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set panelTitle %}
        {{ prisonerName | possessive }} incentive level is set to
        <br/>
        <strong data-test="current-incentive-level">{{ currentIncentiveLevel }}</strong>
      {% endset %}

      {% set panelBody -%}
        {% if nextReviewDate %}
          Their next review is due by
          <br/>
          <strong data-test="next-review-date">{{ nextReviewDate | shortDate }}</strong>
        {% endif %}
      {%- endset %}

      {{ govukPanel({
        titleHtml: panelTitle,
        html: panelBody,
        classes: "change-incentive-level-confirmation"
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-6">
        How review dates are calculated
      </h2>
      <p>
        The review date has been set according to national incentives policy.
      </p>
      <p>
        Your local policy may require more frequent reviews.
      </p>

      <div class="govuk-!-margin-top-8">
        {{ govukButton({
          text: "Return to incentive reviews",
          element: "a",
          href: manageIncentivesUrl,
          classes: "govuk-!-margin-right-2",
          attributes: {
            "data-test": "goto-manage-incentives",
            "data-ga-category": "Record incentive level confirmation",
            "data-ga-action": "Manage reviews"
          }
        }) }}

        {{ govukButton({
          text: "Return to prisoner profile page",
          element: "a",
          href: profileUrl,
          classes: "govuk-button--secondary",
          attributes: {
            "data-test": "goto-prisoner-quicklook",
            "data-ga-category": "Record incentive level confirmation",
            "data-ga-action": "Prisoner profile"
          }
        }) }}
      </div>

    </div>
  </div>
{% endblock %}
