{% extends "../partials/layout.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set pageTitle = applicationName + " – " + prisonIncentiveLevel.levelDescription + " level in " + prisonName %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "../partials/messages.njk" %}
      {% include "../partials/formErrorSummary.njk" %}

      <h1 class="govuk-heading-xl">{{ prisonIncentiveLevel.levelDescription }} level in {{ prisonName }}</h1>

      {{ govukBackLink({
        text: "Back",
        href: "/prison-incentive-levels/view/" + prisonIncentiveLevel.levelCode
      }) }}

      <form id="form-{{ form.formId }}" method="post" novalidate>

        {% call govukFieldset({
          legend: {
            text: "Spend limits",
            classes: "govuk-fieldset__legend--m"
          }
        }) %}

          {% set fieldId = "remandTransferLimit" %}
          {% set field = form.getField(fieldId) %}
          {{ govukInput({
            label: { text: "Remand transfer limit" },
            prefix: { text: "£" },
            classes: "govuk-input--width-5",
            id: form.formId + "-" + fieldId,
            name: fieldId,
            value: field.value,
            spellcheck: false,
            errorMessage: { text: field.error } if field.error else undefined
          }) }}

          {% set fieldId = "remandSpendLimit" %}
          {% set field = form.getField(fieldId) %}
          {{ govukInput({
            label: { text: "Remand spend limit" },
            prefix: { text: "£" },
            classes: "govuk-input--width-5",
            id: form.formId + "-" + fieldId,
            name: fieldId,
            value: field.value,
            spellcheck: false,
            errorMessage: { text: field.error } if field.error else undefined
          }) }}

          {% set fieldId = "convictedTransferLimit" %}
          {% set field = form.getField(fieldId) %}
          {{ govukInput({
            label: { text: "Convicted transfer limit" },
            prefix: { text: "£" },
            classes: "govuk-input--width-5",
            id: form.formId + "-" + fieldId,
            name: fieldId,
            value: field.value,
            spellcheck: false,
            errorMessage: { text: field.error } if field.error else undefined
          }) }}

          {% set fieldId = "convictedSpendLimit" %}
          {% set field = form.getField(fieldId) %}
          {{ govukInput({
            label: { text: "Convicted spend limit" },
            prefix: { text: "£" },
            classes: "govuk-input--width-5",
            id: form.formId + "-" + fieldId,
            name: fieldId,
            value: field.value,
            spellcheck: false,
            errorMessage: { text: field.error } if field.error else undefined
          }) }}

        {% endcall %}

        {% call govukFieldset({
          legend: {
            text: "Visit orders",
            classes: "govuk-fieldset__legend--m"
          }
        }) %}

          {% set fieldId = "visitOrders" %}
          {% set field = form.getField(fieldId) %}
          {{ govukInput({
            label: { text: "Visits per fortnight" },
            classes: "govuk-input--width-3",
            id: form.formId + "-" + fieldId,
            name: fieldId,
            value: field.value,
            inputmode: "numeric",
            spellcheck: false,
            errorMessage: { text: field.error } if field.error else undefined
          }) }}

          {% set fieldId = "privilegedVisitOrders" %}
          {% set field = form.getField(fieldId) %}
          {{ govukInput({
            label: { text: "Privileged visits per 4 weeks" },
            classes: "govuk-input--width-3",
            id: form.formId + "-" + fieldId,
            name: fieldId,
            value: field.value,
            inputmode: "numeric",
            spellcheck: false,
            errorMessage: { text: field.error } if field.error else undefined
          }) }}

        {% endcall %}

        <input type="hidden" name="formId" value="{{ form.formId }}" />
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save",
            preventDoubleClick: true
          }) }}

          {{ govukButton({
            text: "Disable this level",
            classes: "govuk-button--warning",
            element: "a",
            href: "/prison-incentive-levels/deactivate/" + prisonIncentiveLevel.levelCode
          }) }}
        </div>

      </form>

    </div>
  </div>
{% endblock %}
