{% extends "../partials/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = applicationName + " – Add a new incentive level" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

      {% include "../partials/messages.njk" %}
      {% include "../partials/formErrorSummary.njk" %}

      <h1 class="govuk-heading-xl" data-qa="prison-incentive-levels-add">
        Add a new incentive level
      </h1>

      <form id="form-{{ form.formId }}" method="post" novalidate>

        {% set levelChoices = [] %}
        {% for incentiveLevel in availableUnusedIncentiveLevels %}
          {% set levelChoices = (levelChoices.push({
            text: incentiveLevel.name,
            value: incentiveLevel.code
          }), levelChoices) %}
        {% endfor %}

        {% set fieldId = "levelCode" %}
        {% set field = form.getField(fieldId) %}
        {{ govukRadios({
          attributes: { id: form.formId + "-" + fieldId },
          name: fieldId,
          classes: "govuk-!-margin-bottom-6",
          fieldset: {
            legend: {
              text: "Select an incentive level",
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: levelChoices,
          errorMessage: { text: field.error } if field.error else undefined
        }) }}

        {% include "../partials/prisonIncentiveLevelEditPartial.njk" %}

        <input type="hidden" name="formId" value="{{ form.formId }}" />
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        <div class="govuk-button-group govuk-!-margin-top-6">
          {{ govukButton({
            text: "Save",
            preventDoubleClick: true
          }) }}

          <a href="/prison-incentive-levels" class="govuk-link">
            Cancel
          </a>
        </div>

      </form>

    </div>
  </div>
{% endblock %}
