{% extends "../partials/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pageTitle = applicationName + " – View settings for " + prisonIncentiveLevel.levelName %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

      {% include "../partials/messages.njk" %}

      <h1 class="govuk-heading-xl" data-qa="prison-incentive-levels-detail">
        View settings for {{ prisonIncentiveLevel.levelName }}
      </h1>

      {{ govukTable({
        caption: "Default incentive level",
        captionClasses: "govuk-table__caption--m",
        classes: "app-incentive-levels--two-column-table",
        rows: [
          [
            { text: "Default for new prisoners" },
            { text: "Yes" if prisonIncentiveLevel.defaultOnAdmission else "No" }
          ]
        ]
      }) }}

      <h2 class="govuk-heading-l govuk-!-margin-top-8">
        Money
      </h2>
      {{ govukTable({
        caption: "Transfer limits from private cash",
        captionClasses: "govuk-table__caption--m",
        classes: "app-incentive-levels--two-column-table",
        rows: [
          [
            { text: "Remand prisoners" },
            { text: prisonIncentiveLevel.remandTransferLimitInPence | currencyFromPence + " per week" }
          ],
          [
            { text: "Convicted prisoners" },
            { text: prisonIncentiveLevel.convictedTransferLimitInPence | currencyFromPence + " per week" }
          ]
        ]
      }) }}
      {{ govukTable({
        caption: "Maximum allowed in spends account",
        captionClasses: "govuk-table__caption--m",
        classes: "app-incentive-levels--two-column-table",
        rows: [
          [
            { text: "Remand prisoners" },
            { text: prisonIncentiveLevel.remandSpendLimitInPence | currencyFromPence }
          ],
          [
            { text: "Convicted prisoners" },
            { text: prisonIncentiveLevel.convictedSpendLimitInPence | currencyFromPence }
          ]
        ]
      }) }}

      <h2 class="govuk-heading-l govuk-!-margin-top-8">
        Visits
      </h2>
      {{ govukTable({
        caption: "Visit allowances for convicted prisoners",
        captionClasses: "govuk-table__caption--m",
        classes: "app-incentive-levels--two-column-table",
        rows: [
          [
            { text: "Visits (VO)" },
            { text: prisonIncentiveLevel.visitOrders }
          ],
          [
            { text: "Privileged visits (PVO)" },
            { text: prisonIncentiveLevel.privilegedVisitOrders}
          ]
        ]
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Change incentive level settings",
          element: "a",
          href: "/prison-incentive-levels/edit/" + prisonIncentiveLevel.levelCode
        }) }}

        {{ govukButton({
          text: "Return to incentive level settings",
          classes: "govuk-button--secondary",
          element: "a",
          href: "/prison-incentive-levels"
        }) }}
      </div>

    </div>
  </div>
{% endblock %}
