{% extends "../partials/layout.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set pageTitle = applicationName + " – " + prisonIncentiveLevel.levelDescription + " level in " + prisonName %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "../partials/messages.njk" %}

      <h1 class="govuk-heading-xl">{{ prisonIncentiveLevel.levelDescription }} level in {{ prisonName }}</h1>

      {{ govukBackLink({
        text: "Back",
        href: "/prison-incentive-levels"
      }) }}

      {{ govukSummaryList({
        card: {
          title: {
            text: "Spend limits"
          }
        },
        rows: [
          {
            key: { text: "Remand transfer limit" },
            value: { text: prisonIncentiveLevel.remandTransferLimitInPence | currencyFromPence }
          },
          {
            key: { text: "Remand spend limit" },
            value: { text: prisonIncentiveLevel.remandSpendLimitInPence | currencyFromPence }
          },
          {
            key: { text: "Convicted transfer limit" },
            value: { text: prisonIncentiveLevel.convictedTransferLimitInPence | currencyFromPence }
          },
          {
            key: { text: "Convicted spend limit" },
            value: { text: prisonIncentiveLevel.convictedSpendLimitInPence | currencyFromPence }
          }
        ]
      }) }}

      {{ govukSummaryList({
        card: {
          title: {
            text: "Visit orders"
          }
        },
        rows: [
          {
            key: { text: "Visits per fortnight" },
            value: { text: prisonIncentiveLevel.visitOrders }
          },
          {
            key: { text: "Privileged visits per 4 weeks" },
            value: { text: prisonIncentiveLevel.privilegedVisitOrders }
          }
        ]
      }) }}

      {% if canEdit %}
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Edit details",
            element: "a",
            href: "/prison-incentive-levels/edit/" + prisonIncentiveLevel.levelCode
          }) }}

          {% if incentiveLevel.required %}

            <p>
              This level is required in all prisons and cannot be disabled.
            </p>

          {% else %}

            {{ govukButton({
              text: "Disable this level",
              classes: "govuk-button--warning",
              element: "a",
              href: "/prison-incentive-levels/deactivate/" + prisonIncentiveLevel.levelCode
            }) }}

          {% endif %}
        </div>

        {% if prisonIncentiveLevel.levelCode == defaultPrisonIncentiveLevel.levelCode %}
          <p>
            This level is the default for admissions in {{ prisonName }}.
          </p>
        {% else %}
          <p>
            The default level for admissions in {{ prisonName }} is {{ defaultPrisonIncentiveLevel.levelDescription }}.
          </p>
          {{ govukButton({
            text: "Change the default level to " + prisonIncentiveLevel.levelDescription,
            element: "a",
            href: "/prison-incentive-levels/set-default-for-admission/" + prisonIncentiveLevel.levelCode
          }) }}
          {% endif %}
      {% endif %}

    </div>
  </div>
{% endblock %}
