{% extends "../partials/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = applicationName + " – Remove an incentive level" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

      {% include "../partials/messages.njk" %}
      {% include "../partials/formErrorSummary.njk" %}

      <h1 class="govuk-heading-xl" data-qa="prison-incentive-levels-deactivate">
        Remove an incentive level
      </h1>
      <p>
        Removing an incentive level makes it unavailable for use in your establishment.
      </p>
      <p>
        You should first check if there are any prisoners on this level.
      </p>
      <p>
        Staff must review these prisoners and place them on an alternative level before this level can be removed.
      </p>

      <form id="form-{{ form.formId }}" method="post" novalidate>

        {% set fieldId = "confirmation" %}
        {% set field = form.getField(fieldId) %}
        {% set fieldLabel %}
          Do you want to remove {{ prisonIncentiveLevel.levelName }}?
        {% endset %}
        {{ govukRadios({
          attributes: { id: form.formId + "-" + fieldId },
          name: fieldId,
          fieldset: {
            legend: {
              html: fieldLabel,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            { text: "Yes", value: "yes" },
            { text: "No", value: "no" }
          ],
          errorMessage: { text: field.error } if field.error else undefined
        }) }}

        <input type="hidden" name="formId" value="{{ form.formId }}" />
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        <div class="govuk-button-group govuk-!-margin-top-8">
          {{ govukButton({
            text: "Continue",
            preventDoubleClick: true
          }) }}
        </div>

      </form>

    </div>
  </div>
{% endblock %}
