{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " – Manage incentive reviews" %}

{% block content %}
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
    Manage incentive reviews
  </h1>

  <p>
    <strong class="govuk-!-margin-right-3">{{ locationDescription }}</strong>
    <a href="/select-location">Select another location</a>
  </p>

  <dl class="app-data-list govuk-!-margin-top-6 govuk-!-margin-bottom-8">
    <dt>Overdue reviews</dt>
    <dd>
      {{- overdueCount -}}
    </dd>
  </dl>
{% endblock %}
