{% extends "../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "moj/components/pagination/macro.njk" import mojPagination %}

{% set pageTitle %}
  {%- if pageCount > 1 -%}
    {{ applicationName }} - Manage incentive reviews (Page {{ page }} of {{ pageCount }})
  {%- else -%}
    {{ applicationName }} – Manage incentive reviews
  {%- endif -%}
{% endset %}

{% block content %}
  <span id="ga-label" data-ga-label="{{ locationPrefix }}"></span>

  <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
    Manage incentive reviews
  </h1>

  <p>
    <strong class="govuk-!-margin-right-3">{{ locationDescription }}</strong>
    <a href="/select-location">Select another location</a>
  </p>


  <h2 class="govuk-heading-l">Overdue reviews</h2>
  <div class="govuk-grid-row">
    {% for level in levels %}
      <div class="govuk-grid-column-one-quarter govuk-!-margin-bottom-7" data-qa="overdue-at-level-{{ level.levelCode }}">
        <p class="govuk-!-margin-bottom-2">{{ level.levelName }}</p>
        <span class="govuk-body govuk-!-font-size-36 govuk-!-font-weight-bold govuk-!-margin-bottom-4">
          {{ level.overdueCount | default(0) }}
        </span>
      </div>
      {% if loop.index0 % 4 == 3 %}
        </div>
        <div class="govuk-grid-row">
      {% endif  %}
    {% endfor %}
  </div>

  <h2 class="govuk-heading-l govuk-!-margin-top-5">Prisoner details and review status</h2>
  <p>Review dates are calculated according to national incentives policy.</p>
  <p>Your local policy may require more frequent reviews.</p>

  <nav>
    <ul class="govuk-tabs__list govuk-!-margin-top-7">
      {% for level in levels %}
        <li class="govuk-tabs__list-item {% if level.levelCode == selectedLevelCode %}govuk-tabs__list-item--selected{% endif %}">
          <a class="govuk-tabs__tab" href="?level={{ level.levelCode }}&amp;sort={{ sort }}&amp;order={{ order }}" data-ga-category="Reviews table > Clicked on incentive level tab" data-ga-action="{{ level.levelName }}">
            {{ level.levelName }} ({{ level.reviewCount }})
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>

  {% set tableRows = [] %}
  {% for review in reviews %}
    {% set photo %}
      <img src="/prisoner-images/{{ review.prisonerNumber }}.jpeg" class="app-review-photo" alt="Photo of {{ review.prisonerNumber }}" />
    {% endset %}

    {% set profileLink %}
      <a href="{{ dpsUrl }}/prisoner/{{ review.prisonerNumber }}" data-ga-category="Reviews table > Clicked on link" data-ga-action="prisoner name">
        <span class="govuk-visually-hidden">
          View prisoner profile for
        </span>
        {{ review.lastName }}, {{ review.firstName }}
        <br />
        {{ review.prisonerNumber }}
      </a>
    {% endset %}

    {% set nextReviewDate %}
      <strong>{{ review.nextReviewDate | shortDate }}</strong>
      {% set daysOverdue = review.nextReviewDate | daysSince %}
      {% if daysOverdue == 1 %}
        <br />
        <strong class="app-review-overdue">1 day overdue</strong>
      {% elif daysOverdue > 1 %}
        <br />
        <strong class="app-review-overdue">{{ daysOverdue }} days overdue</strong>
      {% endif %}
    {% endset %}

    {% set daysSinceLastReview %}
      {{ review.daysSinceLastReview | daysAgo | default('Not reviewed') }}
    {% endset %}

    {% set positiveBehaviours %}
      <a href="{{ dpsUrl }}/prisoner/{{ review.prisonerNumber }}/case-notes?type=POS&amp;{{ caseNoteFilter }}" data-ga-category="Reviews table > Clicked on link" data-ga-action="positive behaviours">
        <span class="govuk-visually-hidden">
          View {{ review.positiveBehaviours }} positive behaviour case notes
        </span>
        <span aria-hidden="true">
          {{ review.positiveBehaviours }}
        </span>
      </a>
    {% endset %}

    {% set negativeBehaviours %}
      <a href="{{ dpsUrl }}/prisoner/{{ review.prisonerNumber }}/case-notes?type=NEG&amp;{{ caseNoteFilter }}" data-ga-category="Reviews table > Clicked on link" data-ga-action="negative behaviours">
        <span class="govuk-visually-hidden">
          View {{ review.negativeBehaviours }} negative behaviour case notes
        </span>
        <span aria-hidden="true">
          {{ review.negativeBehaviours }}
        </span>
      </a>
    {% endset %}

    {% set additionalInformation %}
      {% if review.hasAcctOpen %}
        ACCT open
      {% endif %}
      {% if review.hasAcctOpen and review.isNewToPrison %}
        <br />
      {% endif %}
      {% if review.isNewToPrison %}
        New to prison
      {% endif %}
    {% endset %}

    {% set tableRows = (tableRows.push([
      {html: photo},
      {html: profileLink},
      {html: nextReviewDate},
      {html: daysSinceLastReview},
      {html: positiveBehaviours},
      {html: negativeBehaviours},
      {html: additionalInformation}
    ]), tableRows) %}
  {% endfor %}

  {% set noPrisonersOnLevel -%}
    <p class="govuk-!-margin-4 govuk-!-text-align-centre">
      There are no prisoners at {{ locationDescription }} on {{ selectedLevelDescription }}.
    </p>
  {%- endset %}

  {% set caption -%}
    Incentive level review details for {{ locationDescription }}
  {%- endset %}
  <div class="app-reviews-container">
    {{ govukTable({
      caption: caption,
      captionClasses: "govuk-visually-hidden",
      classes: "app-reviews-table",
      head: tableHead,
      rows: tableRows if tableRows.length > 0 else [[{
        html: noPrisonersOnLevel,
        colspan: 7
      }]]
    }) }}
  </div>

  {{ mojPagination(paginationParams) }}
{% endblock %}
