{% extends "../partials/layout.njk" %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pageTitle = applicationName + " – Manage incentive reviews" %}

{% block content %}
  <span id="ga-label" data-ga-label="{{ locationPrefix }}"></span>

  <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
    Manage incentive reviews
  </h1>

  <p>
    <strong class="govuk-!-margin-right-3">{{ locationDescription }}</strong>
    <a href="/select-location">Select another location</a>
  </p>

  <dl class="app-data-list govuk-!-margin-top-6 govuk-!-margin-bottom-8">
    <dt>Overdue reviews</dt>
    <dd>
      {{- overdueCount -}}
    </dd>
  </dl>

  <h2 class="govuk-heading-l">Prisoner details and review status</h2>

  {% if showNotification %}
    <input type="hidden" id="_csrf" name="_csrf" value="{{ csrfToken }}" />

    {% set html %}
        <p>
          Review dates are calculated according to the <a class="govuk-notification-banner__link" href="https://www.gov.uk/government/publications/incentives-policy-framework" target="_blank">national incentives policy framework</a>.
        </p>

        <p>
          Your local policy should ensure incentive reviews take place within the guidelines of the national policy.
        </p>

        <p class="govuk-!-margin-top-2"><a class="govuk-link govuk-link--no-visited-state notification_dismiss_link" data-notification-id="NATIONAL-POLICY-PDF" href="#">Dismiss</a></p>
    {% endset %}
    {{ govukNotificationBanner({
      html: html,
      classes: 'reviews-policy-notification-banner'
    }) }}
  {% endif %}

  <ul class="govuk-tabs__list">
    {% for level in levels %}
      <li class="govuk-tabs__list-item {% if level.iepLevel == selectedLevelCode %}govuk-tabs__list-item--selected{% endif %}">
        <a class="govuk-tabs__tab" href="?level={{ level.iepLevel }}&amp;sort={{ sort }}&amp;order={{ order }}" data-ga-category="Reviews table > Clicked on incentive level tab" data-ga-action = "{{ level.iepDescription }}">
          {{ level.iepDescription }}
        </a>
      </li>
    {% endfor %}
  </ul>

  {% set tableRows = [] %}
  {% for review in reviews %}
    {% set photo %}
      <img src="/prisoner-images/{{ review.prisonerNumber }}.jpeg" class="app-review-photo" alt="Photo of {{ review.prisonerNumber }}" />
    {% endset %}

    {% set profileLink %}
      <a href="{{ dpsUrl }}/prisoner/{{ review.prisonerNumber }}" data-ga-category="Reviews table > Clicked on link" data-ga-action="prisoner name">
        {{ review.lastName }}, {{ review.firstName }}
        <br />
        {{ review.prisonerNumber }}
      </a>
    {% endset %}

    {% set nextReviewDate %}
      <strong>{{ review.nextReviewDate | shortDate }}</strong>
      {% set daysOverdue = review.nextReviewDate | daysSince %}
      {% if daysOverdue == 1 %}
        <br />
        <strong class="app-review-overdue">1 day overdue</strong>
      {% elif daysOverdue > 1 %}
        <br />
        <strong class="app-review-overdue">{{ daysOverdue }} days overdue</strong>
      {% endif %}
    {% endset %}

    {% set positiveBehaviours %}
      <a href="{{ dpsUrl }}/prisoner/{{ review.prisonerNumber }}/case-notes?type=POS&amp;{{ caseNoteFilter }}" data-ga-category="Reviews table > Clicked on link" data-ga-action="positive behaviours">
        {{ review.positiveBehaviours }}
      </a>
    {% endset %}

    {% set negativeBehaviours %}
      <a href="{{ dpsUrl }}/prisoner/{{ review.prisonerNumber }}/case-notes?type=NEG&amp;{{ caseNoteFilter }}" data-ga-category="Reviews table > Clicked on link" data-ga-action="negative behaviours">
        {{ review.negativeBehaviours }}
      </a>
    {% endset %}

    {% set tableRows = (tableRows.push([
      {html: photo},
      {html: profileLink},
      {html: nextReviewDate},
      {html: positiveBehaviours},
      {html: negativeBehaviours},
      {text: "ACCT open" if review.hasAcctOpen else ""}
    ]), tableRows) %}
  {% endfor %}

  {% set noPrisonersOnLevel -%}
    <p class="govuk-!-margin-4 govuk-!-text-align-centre">
      There are no prisoners at {{ locationDescription }} on {{ selectedLevelDescription }}.
    </p>
  {%- endset %}

  <div class="app-reviews-container">
    {{ govukTable({
      classes: "app-reviews-table",
      head: tableHead,
      rows: tableRows if tableRows.length > 0 else [[{
        html: noPrisonersOnLevel,
        colspan: 6
      }]]
    }) }}
  </div>

  <div class="app-reviews-pagination">
    {{ govukPagination(paginationParams) }}
  </div>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script src="/assets/gaSendEvents.js"></script>
{% endblock bodyEnd %}
